<app-headerpage></app-headerpage>

<div class="row">
    <div class="col-lg-12 dashoard-inner-section">
        <!-- Left -->
        <div class="row">
            <div class="col-lg-2 dash-profule-setion-left-panel">
                <!-- Proile Picture -->
                <div class="row">
                    <div class="col-lg-12 dashboard-left-dp text-center">
                        <img src="assets/images/photo.png" class="img-fluid" />
                        <!-- Add Post Button -->
                        <div class="dashboard-add-post">
                            <a class="open-modal-post-ad">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Acctounyt detals -->
                <div class="row">
                    <div class="col-lg-12 profle-details-text">
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 text-place ">User Name:</div>
                            <div class="col-lg-6 text-anser">{{loginData.name}}</div>

                            <div class="col-lg-6 text-place ">User ID:</div>
                            <div class="col-lg-6 text-anser" *ngIf="loginData.unique_id">{{loginData.unique_id}}</div>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-lg-12 text-place">Account Type:</div>
                            <div class="col-lg-12 text-anser">{{loginData.is_membership}}</div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-lg-12 text-place extra-bolder">
                                <i class="fa fa-pencil-square-o"></i>
                                <a class="pointer" (click)="gotopage()">Edit Profile</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-place extra-bolder pointer">
                                <a (click)="logout()">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--      </div>     -->
            <!-- middle -->
            <!--      <div class="row">-->
            <div class="col-lg-7">
                <div class="container-fluid">
                    <div class="row">
                        <!--header -->
                        <div class="col-lg-12 dash-heaader">
                            <h2>Your Activity Summary</h2>
                        </div>
                        <!--list-->
                        <div class="col-lg-12 list-item-dash-cube">
                            <ul>

                                <li>
                                    <h3>89</h3>
                                    <p>Pending Invitation</p>
                                </li>

                                <li>
                                    <h3>5</h3>
                                    <p>Accepted Invitations</p>
                                </li>

                                <li>
                                    <h3>223</h3>
                                    <p>Recent Visitor</p>
                                </li>

                            </ul>
                        </div>
                        <!--list-->
                        <div class="col-lg-12 list-item-dash-cube">
                            <ul>

                                <li class="premium">

                                    <p>Only <span>Premium</span> members can view</p>
                                </li>

                                <li class="arrow-back">
                                    <h3>0</h3>
                                    <p>Contact Viewed</p>
                                </li>

                                <li>
                                    <h3>0</h3>
                                    <p>Message Initiated</p>
                                </li>

                            </ul>
                        </div>
                        <!-- Details banner -->
                        <div class="col-lg-12 details-dash-banner">
                            <div class="row">
                                <div class="col-lg-8 col-sm-8 text-place-area">
                                    <h2 class="">Kixtor Startup Advisory</h2>
                                    <p>Start up troubles?! Access is one click away! Enjoy Exclusive hand holding and
                                        mentoring by stalwarts of the industry.Seek help with business strategy, fund
                                        raising, connecting with right set of people,etc.</p>
                                </div>
                                <div class="col-lg-4 col-sm-4 overflow-img">
                                    <img src="assets/images/section_2.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="col-lg-3 right-side-banner">
                <h2 class="head-side-right">
                    Contact Prospective Business Partners Directly
                </h2>
                <h3 class="upgrade"><u>UPGRADE</u> to Premium</h3>
                <div class="row">
                    <div class="col-lg-12 image-section-righjt-side">
                        <img src="assets/images/section_1.png" class="img-fluid" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 total-tickmarks">
                        <div class="row">
                            <!-- Line one -->
                            <div class="col-lg-2 col-2 text-center">
                                <img src="assets/images/right.png" class="img-fluid" />
                            </div>
                            <div class="col-lg-10 col-10 tick-stoke">
                                <p>Check who has viewed your profiles</p>
                            </div>

                            <!-- Line one -->
                            <div class="col-lg-2 col-2 text-center">
                                <img src="assets/images/right.png" class="img-fluid" />
                            </div>
                            <div class="col-lg-10 col-10 tick-stoke">
                                <p>View recent invitations to connect</p>
                            </div>

                            <!-- Line one -->
                            <div class="col-lg-2 col-2 text-center">
                                <img src="assets/images/right.png" class="img-fluid" />
                            </div>
                            <div class="col-lg-10 col-10 tick-stoke">
                                <p>High profile visibility</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footerpage> </app-footerpage>