*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto'
}
.search-page-mai-dash-header-bar{
    background: #f1fffd;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 3px solid #159a98;
}
.search-page-logo-dash-area{
    width: 250px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.search-page-menu-dash-area ul{
    margin: 0px;
    padding: 0px;
    list-style: none
}
.search-page-menu-dash-area ul li{
    float: left;
    margin-left: 0px;
    margin-right: 70px;
    line-height: 90px;
}
.search-page-menu-dash-area ul li a{
    display: block;
    font-size: 17px;
    color: #23c5c2;
    text-decoration: none;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500
}

/*Dashoard Front page*/

.dashoard-inner-section{
    padding: 50px 80px;
}

/*PRof*/
.dash-profule-setion-left-panel{
    padding: 15px 15px 80px 10px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-width:5px;  
    border-style:double;
}
.dashboard-add-post {
    text-align: center;
    margin-top: -20px;
}
.dashboard-add-post a{
    background-color: #24c6c3;
    padding: 10px 15px;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    
}

.profle-details-text{
/*    padding-left:25px; */
}
.text-place{
/*
    font-weight:500;
    color:#24c6c3;
    font-size:15px;
*/
    font-weight: 500;
    color: #24c6c3;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0px;
}
.text-place a
{
    text-decoration: none;
    font-weight:600;
    color:#24c6c3;
    font-size:18px;
}
.text-anser{
/*
    font-weight:500;
    color:#222;
    font-size:15px;
*/
    font-weight: 500;
    color: #222;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0px;
}

.extra-bolder{
    font-weight: 700;
    font-size: 20px;
}
.extra-bolder i{
    font-size: 30px;    
}


.dash-heaader{
    border: 2px solid #24c6c3;
    border-color: transparent transparent #24c6c3 transparent;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 500
}

.dash-heaader h2{
    font-size: 30px;
}

.list-item-dash-cube {
    padding-left: 0;
    margin-top: 30px;
}

.list-item-dash-cube ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-item-dash-cube ul li{
    float: left;
    width: 31.4%;
    margin-right: 10px;
    height: 110px;
    border: 2px solid #24c6c3;
    padding-top: 8px;
    text-align: center
}

.list-item-dash-cube ul li h3{
    font-size: 38px;
    color: #24c6c3;
    font-weight: 700
}

.list-item-dash-cube ul li p{
    color: #616161;
    font-size: 18px;
    font-weight: 500
}

.list-item-dash-cube ul li.premium p{
    text-align: left;
    padding-left: 10px;
    padding-top: 24px;
    line-height: 18px;
    font-size: 17px;
    color: #222;
    font-weight: 700
}
.list-item-dash-cube ul li.premium{
    position: relative;
}
.list-item-dash-cube ul li.premium::after{
    position: absolute;
    content: '';
    border: 12px solid #24c6c3;
    border-color: #24c6c3 #24c6c3 transparent transparent;
    right: -14px;
    top: 40%;
    transform: rotate(45deg);
    z-index: 9
    
}

.list-item-dash-cube ul li.arrow-back{
    position: relative;
}
.list-item-dash-cube ul li.arrow-back::before{
    position: absolute;
    content: '';
    border: 12px solid #24c6c3;
    border-color: #24c6c3 #24c6c3 transparent transparent;
    left: -14px;
    top: 40%;
    transform: rotate(45deg);
    
}
.list-item-dash-cube ul li.arrow-back::after{
    position: absolute;
    content: '';
    border: 11px solid #fff;
    border-color: #fff #fff transparent transparent;
    left: -14px;
    top: 41%;
    transform: rotate(45deg);
    z-index: 7;
}
.list-item-dash-cube ul li.premium p span{
    color: #24c6c3
}
.details-dash-banner{
    background: #24c6c3;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}
.details-dash-banner h2{
    color: #fff;
    font-size: 30px;
    
}
.details-dash-banner p{
    color: #ebedef;
    line-height: 20px;
}
.overflow-img img{
    position: absolute;
    width: 210px;
}

.right-side-banner{
    background-image: url(./../../../assets/images/bar-1.png);
    background-size: cover;
    padding: 20px 15px;
    border-radius: 15px;
}

.head-side-right {
    color: #0594b4;
    font-size: 20px;
    font-weight: 500;
    text-align: center
}

.upgrade{
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    color: #fe000b;
    font-weight: 600
}
.image-section-righjt-side{
    text-align: center;
/*    margin-top: 50px;*/
}
.image-section-righjt-side img{
    width: 250px;
}
.tick-stoke{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 20px;
}
.total-tickmarks{
    margin-top: 25px;
}

/*
------------- MAILBOX
*/
.request-button ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right
}
.request-button ul li{
    float: left;
    margin-right: 10px;
}
.request-button ul li a{
    display: block;
    font-size: 18px;
    color: #222;
    background-color: #f4f4f4;
    border: 1px solid #848484;
    text-decoration: none;
    padding: 5px 30px;
}
.request-button ul li a:hover
{
    color: #fff;
    background-color: #24c6c3
}
.request-button ul li.active a{
    color: #fff;
    background-color: #24c6c3;
}
.request-button ul li.active a:hover
{
    color: #fff;
    background-color: #159a98;
}
.mail-list-dash{
    margin-top: 30px;
    padding: 10px;
    border: 2px solid #24c6c3;
}
.profile-picture-DP{
    text-align: center
}
.profile-picture-DP img{
    border: 2px solid #24c6c3;
    width: 75%;
}
.profile-maing-DP  img{
    width: 25px;
}
.profile-maing-DP .color-placer{
    font-size: 18px;
    color: #24c6c3;
    font-weight: 500
}
.profile-maing-DP .txt-placer-mail{
    color: #333;
    font-weight: 600;
    font-size: 18px;
}
.short-message-mail{
    margin-top: 2px;
}
.short-message-mail p{
    font-size: 18px;
    color: #555;
    font-weight: 500;
    line-height: 20px;
}

.short-message-mail p span{
    color: #bbb;
    font-size: 16px;
    margin-top: 10px;
    line-height: 18px;
}

.action-the-button{
    margin-top: 2px;
    margin-left: 15px;
}
.action-the-button a{
    text-decoration: none;
    background: #24c6c3;
    color: #fff;
    font-size: 18px;
    padding: 7px 30px;
}
.action-the-button a:hover
{
    background-color: #159a98;
    color: #fff;
}

.bg-color-chnage{
    background: #f3f6f6
}

.half-menu-out-logo img{
    width: 150px;
}

.down-writing-section{
    border: 2px solid #24c6c3;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
}
.heading-edit-profile{
    padding-top: 25px;
    padding-bottom: 15px;
    background: #02a29f;
}
.heading-edit-profile h2{
    font-size: 24px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-weight: 400;


}
.main-edit-profile-part{
    background: #eaeaea;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.conatiner-margin{
    margin-left: 15px;
    margin-right: 15px;
}
.img-section-edit img{
    width: 80%
}
.deatis-img-profile-text{
    margin-top: 25px;
    text-align: center
}
.deatis-img-profile-text h4{
    font-size: 20px;
    text-align: center
}
.deatis-img-profile-text h4 span{
    color: #24c6c3
}
.btn-color-action{
    margin-top: 10px;
    padding: 10px 20px;
    background: #02a29f;
    color: #fff;
    border: none
}


.form-control-mdified-label{
    margin-top: 10px;
    background: #02a29f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600
}
.disclaimer-data p{
    color: #02a29f;
    font-size: 17px;
    line-height: 18px;
}
.edit-profile-upload-text .form-control{
    color: #222;
    border: 2px solid #ccc;
    box-shadow: none;
}
.edit-profile-upload-text .form-control:focus{
    color: #222;
    border: 2px solid #02a29f;
    box-shadow: none;
}
.all-save-button{
    margin-top: 10px;
    text-align: center
}
.all-save-button input{
    background: #02a29f;
    color: #fff;
    padding: 10px 150px;
}
.edit-anchor a{
    color: #02a29f;
}
.categoris-portion{
    background: #eaeaea;
    height: 500px;
    overflow: scroll;
    margin-top: 25px;
}
.categoris-portion .form-group{
    height: 30px;
}
.categoris-portion .form-control{
   outline: none;
   border: none;
   box-shadow: none;
   color: #02a29f;
   background: #02a29f
}
.categoris-portion h2{
    color: #02a29f;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding-top: 15px;
}
.text-label{
    line-height: 34px;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
}

/*SEARCH PAGE*/
.fa-search
{
    font-size: 20px;
    color: #02a29f;
}
.line
{
    margin-top: 15px;
   border-bottom: 1px solid #b4ebea;
    margin-bottom: 20px;
}
.line-2
{
    margin-top: 15px;
   border-bottom: 1px solid #b4ebea;
    margin-bottom: 20px;
}
.ser-upper-header
{
    border-bottom: 2px solid #b4ebea;
}
.ser-upper-header h2
{
    margin-top: 10px;
    font-size: 25px;
    color: #222;
    font-weight: 300;
    margin-bottom: 10px;
}
.first-input-field
{
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid #b4ebea;
    margin-top: 25px;
}
.second-input-field
{
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid #b4ebea;
    margin-bottom: 20px;
    margin-top: 25px;
}
.ser-submit-button
{
    color: #fff;
    padding: 10px 28px;
    background-color: #159a98;
    border-radius: 10px;
    border: none;
}
.smart-search-section
{
    border-bottom: 2px solid #b4ebea;
}

.smart-search-section h2
{
    margin-top: 10px;
    font-size: 22px;
    color: #222;
    font-weight: 400;
    margin-bottom: 10px;
}
/*Custom Modal*/
.custom-post-ad{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    display: none
}
.post-ad-container{
    width: 500px;
    background: #ebedef;
    margin-top: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.post-ad-container h2{
    position: relative;
}
.post-ad-container h2::before{
    left: 44%;
    background: #02a29f;
    position: absolute;
    content: '';
    width: 57px;
    bottom: -4px;
    height: 4px;
}
.fix-close-abso {
    position: absolute;
    right: 524px;
    z-index: 999
}
.fix-close-abso img{
    width: 32px;
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .dash-heaader h2
    {
        font-size: 22px;
    }
    .dashboard-left-dp img
    {
        width: 90%;
    }
    .details-dash-banner h2
    {
        font-size: 24px;
    }
    .details-dash-banner p
    {
        font-size: 16px;
    }
    .right-side-banner
    {
        margin-top: 180px;
    }
    .overflow-img img
    {
        width: 190px;
    }
    .head-side-right
    {
        font-size: 18px;
    }
    .upgrade
    {
        font-size: 20px;
    }
    .total-tickmarks img
    {
        width: 70px;
    }
    .tick-stoke
    {
        font-size: 15px;
        margin-top: 10px;
    }
    .search-page-mai-dash-header-bar
    {
        display: none;
    }
    .request-button ul li
    {
        margin-top: 15px;
    }
    .dashoard-inner-section
    {
        padding: 20px 18px;
    }
    .short-message-mail p
    {
        font-size: 16px;
        line-height: 22px;
    }
    .profile-picture-DP img
    {
        width: 60%;
    }
    .heading-edit-profile h2
    {
        font-size: 20px;
    }
    .edit-profile-upload-text
    {
        margin-top: 15px;
    }
    .all-save-button input
    {
        padding: 10px 100px;
    }
    .list-item-dash-cube ul li
    {
        padding-top: 1px;
        margin-right: 6px;
        line-height: 23px;
    }
    .profile-maing-DP
    {
        margin-top: 20px;
    }
}
