<div class="row">

    <div class="col-lg-12 dashoard-inner-section bg-color-chnage">

       <div class="container">

        <div class="row">

          <!-- Logo -->

         <div class="col-lg-12  half-menu-out-logo text-center" (click)="gotopage()">

          <img src="../../../assets/images/logo_editpage.png"  class="img-fluid pointer" />   

         </div>

         <!-- Down Section -->

         <div class="col-lg-12 down-writing-section"> 

          <div class="conatiner-margin">     

          <div class="row">

           <!-- HEADING -->   

           <div class="col-lg-12 heading-edit-profile">

            <h2>LET'S MAKE YOUR PROFILE MORE ATTARCTIVE</h2>   

           </div> 

           <!-- pROFILE DP -UPDATE -->

           <div class="col-lg-12 mx-auto main-edit-profile-part"> 

            <div class="row">    

             <div class="col-lg-3 edit-profile-upload-dp">

              <div class="img-section-edit text-center">

                <img src="../../../assets/images/photo.png" class="img-fluid"/>  

              </div> 

             <!-- Upload Button -->

             <div class="deatis-img-profile-text">

              <h4><span>User ID:</span> {{loginData.unique_id}}</h4>

              <button class="btn-color-action">CHANGE PHOTO</button>      

             </div>

           </div>

             <!-- Profileupload Edits -->   

             <div class="col-lg-9 edit-profile-upload-text">

               <!-- name -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>NAME:</label>   

                 </div>   

                 <div class="col-lg-10 col-6">

                  {{loginData.name}}

                 </div>   

                </div>  

               </div>  

                <!-- COUNTRY -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>COUNTRY:</label>   

                 </div>   

                 <div class="col-lg-8 col-6">

                   {{loginData.country}}

                 </div> 

                 <div class="col-lg-2 col-2 edit-anchor">

                  <a href="#">

                   <i class="fa fa-pencil"></i>   

                  </a>   

                 </div>     

                </div>  

               </div>  

                <!-- CITY -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>CITY:</label>   

                 </div>   

                 <div class="col-lg-8 col-6">

                  {{loginData.state}}

                 </div>

                 <div class="col-lg-2 col-2 edit-anchor">

                  <a href="#">

                   <i class="fa fa-pencil"></i>   

                  </a>   

                 </div>     

                </div>  

               </div>  

                <!-- BUSSINESS STAGE -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>BUSSINESS STAGE:</label>   

                 </div>   

                 <div class="col-lg-8 col-6">

                   Idation

                 </div> 

                 <div class="col-lg-2 col-2 edit-anchor">

                  <a href="#">

                   <i class="fa fa-pencil"></i>   

                  </a>   

                 </div>     

                </div>  

               </div>  

                <!-- STRENGTHS -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>STRENGTHS:</label>   

                 </div>   

                 <div class="col-lg-8 col-6">

                    {{loginData.strengths}}

                 </div> 

                 <div class="col-lg-2 col-2 edit-anchor">

                  <a href="#">

                   <i class="fa fa-pencil"></i>   

                  </a>   

                 </div>     

                </div>  

               </div>  

            

               <!-- INDUSTRY -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2 col-4">

                  <label>INDUSTRY:</label>   

                 </div>   

                 <div class="col-lg-8 col-6">

                    {{getIndustry(loginData)}}

                 </div> 

                 <div class="col-lg-2 col-2 edit-anchor">

                  <a href="#">

                   <i class="fa fa-pencil"></i>   

                  </a>   

                 </div>     

                </div>  

               </div> 

              

               <!-- DOB -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2">

                  <label>DATE OF BIRTH:</label>   

                 </div>   

                 <div class="col-lg-4">

                   <input type="date" class="form-control" placeholder="MM/DD/YYYY">

                 </div>   

                </div>  

               </div>

               <!-- UPLOAD RESUME -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2">

                  <label>UPLOAD YOUR RESUME:</label>   

                 </div>   

                 <div class="col-lg-4">

                   <input type="text" id="files-mod" class="form-control" placeholder="Upload Resume"  type="file">

                     <label for="files-mod" class="form-control-mdified-label">Browse File <i class="fa fa-search"></i> </label>

<!--                      <input type="file" class="form-control-mdified">-->

                 </div>   

                </div>  

               </div>                  

               <!-- UPLOAD RESUME -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2">

                  <label>UPLOAD YOUR BUSINESS PROJECTION:</label>   

                 </div>   

                  <div class="col-lg-4">

                     <input type="text" id="files-mod" class="form-control" placeholder="Pdf or Jpeg file"  type="file">

                     <label for="files-mod" class="form-control-mdified-label">Browse File <i class="fa fa-search"></i> </label>

                  </div>

                  <div class="col-lg-7 disclaimer-data">

                    <p>

                        <span>

                            (Do not share confidential Information. Only share the slides showing Projections/ Numbers)

                        </span>

                    </p>

                  </div>     

                </div>  

               </div>  

               <!-- Edu -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2">

                  <label>EDUCATION:</label>   

                 </div>   

                 <div class="col-lg-4">

                   <select class="form-control">

                     <option selected>Master Degree</option>

                     <option>Bachelor Degree</option>

                     <option>Collage Degree</option>

                   </select>

                 </div>   

                </div>  

               </div>

               <!-- INDUSTRY -->  

               <div class="form-group">

                <div class="row">

                 <div class="col-lg-2">

                  <label>WEBSITE LINK:</label>   

                 </div>   

                 <div class="col-lg-4">

                    <input class="form-control" type="text" placeholder="www.kixtor.com"/>

                 </div>   

                </div>  

               </div>   

                 

             </div>   

            <!-- ALL savwe btn -->

             <div class="col-lg-12 all-save-button">

              <input type="submit" value="SUBMIT">   

             </div>

            </div>  

           </div>     

           </div>

          </div>   

         </div>

        </div> 

       </div> 

    </div>  

   </div> 