<app-headerpage></app-headerpage>
<div class="row">
  <div class="col-lg-12 dashoard-inner-section">
    <!-- Left -->
    <div class="row" style="min-height: 44vh;">
      <!-- MIDDLE -->
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <!--header -->
            <div class="col-lg-12 dash-heaader">
              <div class="row">
                <div class="col-lg-4">
                  <h2>Mailbox</h2>
                </div>
                <div class="col-lg-8 request-button">
                  <ul>
                    <li style="cursor: pointer;" [ngClass]="{'active': requestType == 'accept'}"><a (click)="changeRequest('accept')">Accepted</a></li>
                    <li style="cursor: pointer;" [ngClass]="{'active': requestType == 'pending'}"><a (click)="changeRequest('pending')">Pending Requests</a></li>
                    <li style="cursor: pointer;" [ngClass]="{'active': requestType == 'sent'}"><a (click)="changeRequest('sent')">Sent Requests</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <app-accept-request *ngIf="requestType == 'accept'"></app-accept-request>
            <app-pending-request *ngIf="requestType == 'pending'"></app-pending-request>
            <app-sent-request *ngIf="requestType == 'sent'"></app-sent-request>
          </div>
        </div>
      </div>
      <!-- Right -->
    </div>

  </div>
</div>
<app-footerpage> </app-footerpage>