<div class="row">
    <div class="col-lg-12 full-header prem-main-content">
     <div class="container">     
        <!-- Logo left Menu right -->
        <div class="row">
      <!-- logo -->      
      <div class="col-lg-3 prem-logo-area pointer">
         <a (click)="gotoHome()">                                
           <img src="assets/images/logo-white.png" class="img-fluid logo"/>
         </a>
      </div>
      <!-- Mid menu -->      
      <div class="col-lg-4 mid-top-menu">
        
          
      </div>
      <!-- Right menu -->      
      <div class="col-lg-4 mid-top-menu prem-later-section">
         <ul> 
          <li  class="pointer" (click)="gotoHome()"><a>Later</a></li> 
         </ul>
      </div>
      <!--sOCILA MENU -->
     </div>     
     </div>      
    
        <!-- profile section -->
      <div class="row">
            <div class="col-12 prem-profile-section">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-12 prem-profile-heading-area">
                                 <h2 class="text-center">Upgrade Now to Unlock more Co-founder profiles</h2>
                                 <p class="text-center">Basic/ Free  Plan - Only 25 profiles visible Can connect and message 25 profiles only  Phone <br>nos and Email Ids will Not be visible.</p>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- profile section -->
        
         <!-- card section -->
      <div class="row">
            <div class="col-12 card-section">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-12 card-premium-section">
                                <div class="form-group">
                                   <div class="row">
                                     <div class="col-lg-4 card-active-area">
                                         <div class="card card-active" style="width: 18rem;">
                                             <div class="card-body">
                                               <h3 class="card-title text-center">GOLD</h3>
                                               <p class="card-text text-center sub">US ${{goldData.amount}} / per Month</p>
                                                <div class="monthly-package text-center">{{goldData.months}} Months Package</div>
                                                 <hr>
                                                 <div class="payment-btn text-center"><a>Make Payment</a></div>
                                                 <div class="billing-section">
                                                    <p>Billing amount ${{goldData.months * goldData.amount}}</p>
                                                   <p><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;View upto {{goldData.view_phone}} phone nos</p>
                                                   <p><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Can connect and message {{goldData.connect_message}} profiles</p>
                                                  </div>
                                             </div>
                                           </div>
                                       </div>
                                     <div class="col-lg-4 card-area-1">
                                         <div class="card card-active1" style="width: 18rem;">
                                             <div class="card-body">
                                               <h3 class="card-title text-center color-change">SAPPHIRE</h3>
                                               <p class="card-text text-center sub">US ${{sapphiredData.amount}} / per Month</p>
                                                <div class="monthly-package1 text-center">{{sapphiredData.months}} Months Package</div>
                                                 <hr>
                                                 <div class="billing-section1">
                                                    <p>Billing amount ${{sapphiredData.months * sapphiredData.amount}}</p>
                                                   <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;View upto {{sapphiredData.view_phone}} contact nos</p>
                                                   <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;Can connect and message {{sapphiredData.connect_message}} profiles</p>
                                                    <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;Your profile will show up more frequently in search results</p>
                                                  </div>
                                             </div>
                                           </div>
                                       </div>
                                       <div class="col-lg-4 card-area-2">
                                          <div class="card card-active2" style="width: 18rem;">
                                             <div class="card-body">
                                               <h3 class="card-title text-center color-change">PLATINUM</h3>
                                               <p class="card-text text-center sub">US $10.{{platinumData.amount}} / per Month</p>
                                                <div class="monthly-package2 text-center">{{platinumData.months}} Year Package</div>
                                                 <hr>
                                                 <div class="billing-section2">
                                                    <p>Billing amount ${{platinumData.months * sapphiredData.amount}}</p>
                                                   <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;Personal Branding - Your profile will enjoy high visibility</p>
                                                   <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;View upto {{platinumData.view_phone}} contact nos</p>
                                                     <p><i class="fa fa-check-circle-o check1" aria-hidden="true"></i>&nbsp;You can connect and message {{platinumData.connect_message}}}} profiles</p>
                                                  </div>
                                             </div>
                                           </div>
                                       </div>
                                    </div>
                                 </div> 
                           </div>
                     </div>
                </div>
            </div>
        </div>
        
        <!-- card section -->
        
        <!-- debit card section -->
        <section id="debit-card">
              <div class="row">
                    <div class="col-12 debit-card-section">
                        <div class="container">
                            <div class="row">
                                 <div class="col-lg-12 debit-card-area">
                                    
                                    <div class="form-group">
                                       <div class="row">
                                         <div class="col-lg-8">
                                            
                                           </div>
                                         <div class="col-lg-4 summary-section">
                                              <div class="card" style="max-width: 18rem;">
                                                 <div class="card-header bg-primary text-white membership">Membership Packages</div>
                                                 <div class="card-body bg-light">
                                                   <h2 class="card-title text-uppercase selected">You Selected:</h2>
                                                   <p class="card-text">Gold Plan - 3 Months: US $45</p>
                                                 </div>
                                                 <div class="card-footer text-white membership text-center">Your Total: US $45</div>
                                               </div>
                                           </div>
                                        </div>
                                     </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- debit card section -->
        
         <!-----------------------footer section------------------------->
     <!-- <footer id="footer">
        <div class="row">
            <div class="col-12 footer-section">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12 top-socila-menu">
                       <div class="d-flex">   
                        <ul class="mx-auto content-align-center">
                         <li><a href=""><i class="fa fa-facebook"></i></a></li>  
                         <li><a href=""><i class="fa fa-instagram"></i></a></li> 
                        </ul>
                       </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                             <div class="footer2-head-area text-center">
                                 <p>&copy;Copyright kixtor 2020 | Privacy Policy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </footer> -->

   <app-footerpage> </app-footerpage>
   <!-----------------------end footer section------------------------->
        
      </div>
   </div>





