footer .footer-section
{
    background-color: #000;
}
.footer-section
{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*
.footer-section .fa-facebook
{
    color: #fff;
    font-size: 30px;
}
*/
/*
.footer-section .fa-instagram
{
    color: #fff;
    font-size: 30px;
}
*/
.footer2-head-area p
{
    color: #fff;
}