.full-header{
    padding-top: 2px;
    padding-bottom: 1px;
    font-family: 'Roboto'
}
.logo-area img.logo {
    padding-top: 11px;
    width: 170px;
}

.mid-top-menu ul, .right-menu-top ul, .top-socila-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right
}
.mid-top-menu ul li{
    float: left;
    margin-left: 100px;
/*    line-height: 70px;*/
}
.mid-top-menu ul li a{
    display: block;
    font-weight: 500;
    color: #616161;
    font-size: 18px;
    text-decoration: none;
    line-height: 80px;
}
.mid-top-menu ul li a.current{
    color: #24c6c3;
    font-weight: 600
}
.right-menu-top ul{
    float: right;
}
.right-menu-top ul li{
    float: left;
    margin-left: 10px;
}
.right-menu-top ul li a{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom,#24c6c3, #0d9c99);
/*    background: #24c6c3;*/
    padding: 8px 10px;
    line-height: 80px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 400
}
.right-menu-top ul li a img{
    width: 28px;
}
.top-socila-menu ul{
/*    float: right;*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-socila-menu ul li{
    float: left;
    margin-right: 5px;
}

.top-socila-menu ul li a{
    text-decoration: none;
    color: #fff;
    background: #b2b2b2;
    font-size: 19px;
    line-height: 73px;
    
}
.top-socila-menu ul li:nth-child(1) a{
    padding: 3px 8px;
}
.top-socila-menu ul li:nth-child(2) a{
    padding: 3px 4px;
}
.sign
{
    background-color: #24c6c3;
    color: #fff !important;
    border-radius: 8px;
}
.login
{
    background-color: #24c6c3;
    color: #fff !important;
    border-radius: 8px;
}
.face
{
    background-color: #6C6C6C;
    color: #fff;
    padding: 4px;
}
.insta
{
    background-color: #373737;
    color: #fff;
    padding: 4px;
}
.navbar
{
    height: 70px;
}
.mobile-tab-menu-icon
{
  display: none;
}
.only-mobile-trigger{
    display: none
}
.fix-mobile-menu{
    display: none
}
@media only screen and (min-width:300px) and (max-width:750px)
{
/*
    .mid-top-menu ul, .right-menu-top ul, .top-socila-menu ul
    {
        display: inline-grid;
    }
*/
    .menu-section ul
     {
         display: none;
         float: inherit;
         position: absolute;
         z-index: 1;
         right: 0;
         width: 100%;
         width: 430px;
         height: 200vh;
         background-color: rgba(0,0,0,0.9);
         top: 30px;
     }
     .menu-section ul li 
     {
          float: left;
          margin-left: 10px;
          margin-right: 10px;
          display: block;
          width: 100%; 
     }   
     .menu-section ul li 
     {
         text-align: center;
         margin-top: 5px;
         padding: 1% 2%;
         margin-bottom: 5px;
     }
     .mobile-tab-menu-icon
        {
          display: block;
          
        }
     .menu-section ul li a
     {
         color: #fff;
     }
    .only-mobile-trigger{
        display: block;
        padding-top: 25px;
    }
    .top-socila-menu, .mid-top-menu, .right-menu-top{
        display: none
    }
    .full-header{
        padding-bottom: 10px;
    }
    .fix-mobile-menu{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.9);
            margin-top: 80px;
            z-index: 999;
        padding-top: 75px;
        display: none
    }
    .fix-mobile-menu ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .fix-mobile-menu ul li{
        margin-bottom: 15px;
        text-align: center
    }
    .fix-mobile-menu ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        text-align: center
    }
}










