/*New Hexa shape*/
.hex-square{
    padding-top: 70px;
    padding-bottom: 637px;
    margin-right: 338px !important;
}
.hexas{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #616161;
    position: relative;
    color: #fff;
    height: 270px;
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 80px;
    background: rgba(32,111,108,0.8);

}
.hexas:before, .hexas:after {
    content:"";
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
}
.hexas:before {
    top: -59px;
    border-bottom: 60px solid #6C6;
}
.hexas:after {
    bottom: -59px;
    border-top: 60px solid #6C6;
}
/*
.hexas::before{
    position: absolute;
    content: '';
    height: 270px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 240px;
    background: transparent;
    border: 2px solid #fff  ;
    left: 0
}
*/
svg {
    height: 328px;
    width: 324px;
    position: absolute;
    transform: rotate(90deg);
    margin-left: -362px;
    margin-top: -31px;
    opacity: 0;
    transition: 0.3s
}
svg:hover{
    opacity: 1
}
path {
  stroke: #ebedef;
  fill: none;
}
.text-content{
  display: table-cell;
  vertical-align: middle;
}
.hexas-heading{
    height: 250px;
    width: 210px;    
    font-size: 35px;
    color: #616161;
    font-weight: 600;
    float: left;
    text-align: center;
    display: table;
}
/*
.first-row .hexas{
    background:#14a8e0 
}
.first-row .hexas:nth-child(2){
    background: #39819c
}
.first-row .hexas:nth-child(3){
    background:#2282a7 
}
*/
.second-row{
    margin-left: -162px;
    margin-top: 276px;
    position: absolute;
}
/*
.second-row .hexas{
    background:#1399CC 
}
.second-row .hexas:nth-child(2){
    background: #118AB8
}
.second-row .hexas:nth-child(3){
    background:#0F7BA3 
}
*/


.third-row{
    position: absolute;
    top: 609px;
    margin-left: -327px;

}
/*
.third-row .hexas{
    background:#0D6B8F 
}
.third-row .hexas:nth-child(2){
    background: #0B5C7B
}
.third-row .hexas:nth-child(3){
    background:#0A4D66
}
.fourth-row{
    position: absolute;
    top: 690px;
    margin-left: -100px;
}
.fourth-row .hexas{
    background:#118AB2
}
.fourth-row .hexas:nth-child(2){
    background: #107EA2
}
.fourth-row .hexas:nth-child(3){
    background:#2694B9
}
.fifth-row{
    position: absolute;
    top:887px
}
.fifth-row .hexas{
    background:#3C818F   
}
.fifth-row .hexas:nth-child(2){
    background: #377682
}
.fifth-row .hexas:nth-child(3){
    background:#2C5E69
}
*/
/*New Hexa shape*/




@media only screen and (min-width:300px) and (max-width:750px){

    .hex-square {
        padding-top: 70px;
        padding-bottom: 637px;
    }
    .join-image-area img {
        width: 75px;
    }
    .hexas {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: #616161;
        position: relative;
        color: #fff;
        height: 180px !important;
        width: 150px !important;
        margin-right: 10px;
        background: rgba(32,111,108,0.8) !important;
    }
    .second-row {
        margin-left: -10px !important   ;
        margin-top: 158px !important    ;
        position: absolute !important   ;
    }
    .first-row{
        margin-left: 68px !important    ;
    }
    .third-row {
        position: absolute;
        top: 422px !important   ;
        margin-left: -14px !important   ;
    }
    .hexas.ianiabout.iconeleven{
        margin-left: 78px !important    ;
        margin-top: -28px !important    ;
    }
    svg {
        height: 180px !important;
        width: 150px !important;
        display: none
    }
}    