.bg-color-changer{
    background: #f3f6f6
}
#login .login-section
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.card
{
    border: 3px solid #02a29f;  
}
.call-button-section
{
    color: #fff;
    background: #02a29f;
    border: 2px solid #02a29f;
    padding: 9px 40px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}
.button-section a{
    color: #02a29f;
    text-decoration: none
}
.actinalble-forget-button a{
     color: #02a29f;
    text-decoration: none   
}
.login-area h2
{
    /*padding-top: 25px;
    padding-bottom: 25px;*/
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: #02a29f;
    color: #fff;
    border: 1px solid #02a29f;
    padding: 15px 40px;
}
.login-logo img
{
    width: 140px;
}
.fa-user
{
    margin-top: 10px;
}
.fa-lock
{
    margin-top: 10px;
}
Edit in JSFiddle
Result
HTML
CSS
/* Optional styling for the form container box */

.card-panel {
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
  border-bottom: 10px solid transparent;
  transition: box-shadow 0.25s;
  padding: 20px;
  margin: 0.5rem 0 1rem;
  border-radius: 2px;
  background-color: #fff;
}

/* Font Awesome Icons */

.min-container .card-panel form .fa {
  top: 0px;
  left: 1rem;
  color: #848484
}

.form-group a i {
  font-family: FontAwesome;
  margin: 0 auto;
  font-size: 5rem;
  font-style: normal;
}
.btn-primary
{
    padding: 10px 70px;
    background-color:  #02a29f;
}
.mt-5, .my-5
{
    margin-top: -1rem !important;
}
#button .button-section
{
    padding-top: 8px;
    padding-bottom: 8px;
}
#link .link-section
{
    padding-top: 10px;
    padding-bottom: 25px;
}
.google-hits{
    text-align: right;
    margin-top:25px;    
    margin-bottom:25px;    
}
.google-hits a
{
    border: 1px solid #02a29f;
    font-size: 20px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-weight:600
}
.facebook-hits{
    text-align: left;
    margin-top:25px;    
    margin-bottom:25px;    
}
.facebook-hits a
{
    border: 1px solid #02a29f;
    font-size: 20px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-weight:600
}
.google-hits a img,
.facebook-hits a img{
    width: 25px;
    margin-top: -5px;
}
#signup .signup-section
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.signup-heading-section h2
{
    color: #02a29f;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}
.form-horizontal
{
    padding: 10px 30px;
}
.signup-heading-section p
{
    padding-top: 20px;
    padding-bottom: 20px;
     font-size: 30px;
   text-transform: uppercase;
    background-color: #02a29f;
    color: #fff;
}
/* Media Queries */
/*---------main content section------------*/
#main-content .main-content-section
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.profile-heading-section p
{
    color: #089795;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.profile-heading-section
{
    padding-top: 25px;
    border: 1px solid #1CB8B5;
}
.half-section
{
    width: 50%;
}
.profile-heading-section h2
{
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    background-color: #02a2a0;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';
}
.photo-section p
{
    font-family: 'Roboto';
}
.form-light-section
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EAEAEA;
}
.form-area
{
    margin-top: -75px;
}
.already-signed a
{
    text-decoration: none;
}
.position-relative label
{
    text-transform: uppercase;
}
.form-area .left-side
{
    font-size: 24px;
    color: #666;
    text-transform: uppercase;
    line-height: 60px;
    font-family: 'Roboto';
}
.form-area .right-side
{
    font-size: 21px;
    color: #666;
    font-weight: 400;
    font-family: 'Roboto';
}
.form-area input
{
    padding: 2px;
}
.btn {
  color: #fff;
  background-color: #1CB8B5;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
    font-family: 'Roboto';
}
.form-area input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.form-area input[type=file]:visited
{
    border: none;
}
.confident-info
{
    color: #1CB8B5;
    font-family: 'Roboto';
}
.confident-info
{
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 500;
}
.form-area select
{
    width: 40%;
    padding: 10px;
}
.button
{
   color: #fff;
  background-color: #1CB8B5;
  padding: 8px 18px; 
  font-size: 20px;
  font-weight: bold;
    border: none;
    width: 70%;
    margin-top: 20px;
    font-family: 'Roboto';
}
.button2 button
{
    text-decoration: none;
   color: #fff;
  background-color: #1CB8B5;
  padding: 8px 18px; 
  font-size: 20px;
  font-weight: bold;
    border: none;
    width: 70%;
    font-family: 'Roboto';
}
.form-light-section2
{
    background-color: #F4F4F4 !important;
    margin-top: -10px;
}
.text-scarlet
{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}
.login-1-form-signin-section
{
    padding: 10px 100px;
    background-color: #02a2a0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form-signin-section2
{
    padding: 10px 70px;
    background-color: #27504f;
}
#country
{
    width: 90%;
    border: none;
}
#city
{
    width: 90%;
    border: none;
}
@media (min-width: 768px) {
  .min-container {
    max-width: 650px;
  }
}

.min-container {
  margin: 0 auto;
}
.login-section .form-control{
    border: 2px solid #ccc;
    box-shadow: none;
    padding-left: 40px;
}
.remebr-check{
    padding-left: 33px;
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .form-light-section2
    {
        margin-top: 40px;
    }
    .profile-heading-section p
    {
        font-size: 25px;
    }
    .profile-heading-section h2
    {
        font-size: 18px;
    }
    .login-area h2
    {
        font-size: 25px;
    }
}