body{
    background: #f3f6f6
}
#main-content2 .main-content2-section
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup2-heading-section
{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #1CB8B5;
}
.signup2-heading-section h2
{
    color: #099796;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Roboto';
}
.card-signup-section
{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E8E8E8;
}
.card-signup-section p
{
    color: #4c4c4c;
    letter-spacing: 0px;
}
.card-signup-section h2
{
    color: #566884;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 500;
}
hr
{
    border-color: #099796;
    width: 20%;
    margin: 0 auto;
}
.signup2-paragraph-section
{
    margin-top: 18px;
    line-height: 9px;
}
.signup2-paragraph-section p
{
    line-height: 15px;
}
.sign2btn a
{
    text-decoration: none;
    background-color: #006867;
    color: #fff;
    padding: 8px 100px;
    font-size: 25px;
    text-transform: uppercase;
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .signup2-heading-section h2
    {
        font-size: 25px;
    }
    .card-signup-section p
    {
       font-size: 15px;
    }
}