body
{
    background: #f3f6f6
}
#main-content-3 .main-content-3-section
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup3-heading-section
{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #5cb8b7;
}
.signup3-heading-section h2
{
    color: #099796;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Roboto';
}
.card-signup3-section p
{
    color: #3e3e3e;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.signup3-form-section input
{
    border: 1px solid #099796;
    padding: 10px 12px;
    border-radius: 5px;
}
.card-signup3-section hr
{
    border-color: #099796;
    width: 18%;
}
.strength-section
{
    margin-top: 25px;
}
.strength-section span
{
    color: #3e3e3e;
    font-weight: bold;
    font-size: 16px;
     text-transform: uppercase;
}
.strength-section p
{
    color: #181818;
    font-weight: 400;
    font-size: 15px;
    text-transform: lowercase;
}
.signup-3-fields .fields
{
    width: 60%;
    margin: 0 auto;
    margin-top: 14px;
    padding: 12px;
    border: 1px solid #ccc;
}
.stage-section
{
    margin-top: 40px;
}
.stage-section p
{
    color: #3e3e3e;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.stage-area1
{
    margin-top: 10px;
    color: #404040;     
}
.stage-area2
{
    margin-top: 10px;
}
.stage-area3
{
    margin-top: 10px;
}
.stage-area4
{
    margin-top: 10px;
}
.skill-section
{
    margin-top: 25px;
}
.skill-section span
{
    color: #3e3e3e;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.skill-section p
{
     color: #181818;
    font-weight: 400;
    font-size: 15px;
    text-transform: lowercase;
}
.signup-3-fields2
{
    margin-top: 25px;
}
.signup-3-fields2 .skills
{
    width: 60%;
    margin: 0 auto;
    margin-top: 14px;
    padding: 12px;
    border: 1px solid #ccc;
}
.signup-3-section-btn
{
    margin-top: 32px;
}
.signup-3-section-btn a
{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #006867;
    color: #fff;
    font-size: 22px;
    padding: 8px 38px;
}
.card-signup3-section
{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ededed;
}
.signup3-form-section
{
    border: 1px solid #006867 !important;
    width: 20%;
    margin: 0 auto;
}
.signup3-form-control-mdified-label
{
    margin-top: 10px;
    background: #02a29f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .signup3-heading-section h2
    {
        font-size: 25px;
    }
    .card-signup3-section p
    {
        font-size: 16px;
    }
    .strength-section span
    {
        font-size: 15px;
    }
    .signup3-form-section
    {
        width: 60%;
    }
}