*

{

    margin: 0;

    padding: 0;

}

body

{

    overflow-x: hidden;

}

.back-one{

    background-image: url(../images/homesection_1.jpg);

    background-size: cover;

    height: 90vh;

}

.back-two{

    background-image: url(../images/homesection_1.jpg);

    background-size: cover;

    height: 90vh;

}

.back-three{

    background-image: url(../images/homesection_1.jpg);

    background-size: cover;

    height: 90vh;

}

.back-four{

     background-image: url(../images/homesection_1.jpg);

    background-size: cover;

    height: 90vh;   

}

.main-heading {
    padding-top: 228px;
    text-align: left;
    font-family: 'Oswald';
}

.main-heading h1

{

    color: #fff;

    font-size: 42px;

    text-transform: uppercase;

    font-weight: 500;

    letter-spacing: -1px;

    font-family: 'Oswald';

}

.main-heading p

{

    color: #fff;

    font-size: 32px;

    letter-spacing: 1px;

    font-family: 'Roboto';

    line-height: 35px;

    margin-top: 20px;

}

.action-button{

    margin-top: 30px;    

}

.main-heading a { 

    background-color: #24c6c3;

    color: #ebedef;

    padding: 7px 53px;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 28px;

    border-radius: 9px;

    font-weight: 500;

    text-shadow: 0 0 5px #222;

    border: 1px solid #fff;

    font-family: 'Oswald';

}

.main-heading a:hover

{

    background-color: #138b89;

    color: #ebedef;

}

.carousel-control-prev-icon{

    background-image: url('../images/leftarrow.png');

    width: 100px;

    height: 100px;

}

.carousel-control-next-icon{

    background-image: url('../images/rightarrow.png');

    width: 100px;

    height: 100px;

}

/*

.iconfive+#vg-iconfive{

    opacity: 0;

    transition: 0.3s;

}

.iconfive:hover + #vg-iconfive{

    opacity: 1;

}

*/

/*---------mentor section------------*/

#mentor .mentor-section

{

    padding-top: 40px;

    padding-bottom: 100px;

    background-color: #138b89;

}

.mentor-heading-area h2

{

    font-size: 30px;

    font-weight: 400;

    color: #fff;

    text-transform: uppercase;

    font-family: 'Roboto'

}

.mentor-heading-area img{

    width: 250px;

    margin-top: -15px;

}

.mentor-list ul

{

    list-style: none;

    margin: 0;

    padding: 0;

}

.mentor-list ul li

{

    float: left;

    margin-left: 10px;

    margin-right: 10px;

}

.mentor2-image-text img

{

    margin-top: -100px;

/*    margin-left: 100px;*/

        width: 160px;

}

.mentor-heading-area hr

{

    border-color: #fff;

    width: 30%;

    margin: 0 auto;

}

.mentor2-text

{

    margin-top: 15px;

}

.mentor2-text h2

{

    font-size: 18px;

    color: #24c6c3;

    text-transform: uppercase

}

.mentor2-text p

{

    font-size: 17px;

    color: #616161;

    line-height: 16px;

    font-weight: 500;

}

#mentor2-image .mentor2-image-section

{

    padding-top: 20px;

    padding-bottom: 20px;

}

/*---------welcome section------------*/

#welcome .welcome-section

{

    padding-top: 20px;

    padding-bottom: 20px;

    background-color: rgba(0,0,0,0.8);

}

.welcome-section

{

/*    height: 80vh;*/

    background-image: url(../images/homesection_new_2.jpg);

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

    background-attachment: fixed;

    padding-top: 50px;

    padding-bottom: 50px; 

}

.welcome-heading-area h2

{

    color: #24c6c3;

    line-height: 30px;

    border-left: 2px solid #24c6c3;

    padding-left: 5px;

    position: relative;

    text-transform: uppercase;

    font-weight: bold;

    font-size: 38px;

    margin-left: 10px;

    font-family: 'Open Sans';

}

.welcome-heading-area h3

{

    color: #fff;

    font-size: 22px;

    font-family: 'Roboto';

    font-weight: 400

}

.welcome-heading-area h2 span

{

    font-size: 20px;

    font-weight: 400;

}

.welcome-heading-area h2:before

{

     position: absolute;

    content: "";

    width: 10px;

    height: 66px;

    background-color: #24c6c3;

    left: -15px;   

}

.welcome-heading-area span

{

    color: #24c6c3;

    font-size: 30px;

}

.welcome-heading-area p

{

    color: #fff;

    font-size: 18px;

}

/*---------register section------------*/

#register .register-section

{

    padding-top: 10px;

    padding-bottom: 10px;

}

.register-head-area

{

    margin-top: 30px;

}

.register-head-area h2

{

    color: #000;

    font-size: 26px;

    text-transform: uppercase;

    font-weight: lighter;

    line-height: 30px;

    border-left: 2px solid #24c6c3;

    padding-left: 5px;

    position: relative;

}

.register-head-area h2:before

{

    position: absolute;

    content: "";

    width: 10px;

    height: 72px;

    background-color: #24c6c3;

    left: -15px;

    

}

.register-head-area span

{

    color: #24c6c3;

    font-size: 42px;

    text-transform: uppercase;

    font-family: 'Open sans';

    font-weight: bold;

}

.row-head-area

{

    margin-top: 15px;

}

.row-text-area

{

    margin-top: 15px;

    margin-bottom: 15px;

}

.right-para-line

{

    border-left: 1px solid rgba(97,97,97,0.3);

}

.row-head-area h2

{

     color: #24c6c3;

    font-size: 15px;

}

.row-text-area p

{

    color: #000;

    font-size: 15px;

    font-family: 'Open sans';

    text-align: left;

    line-height: 20px;

}

.register-para-area

{

    margin-top: 25px;

    border-top: 1px solid rgba(97,97,97,0.3);

    padding-top: 20px;

}

.about-content-hexas{

/*    height: 115vh*/

}

.register-para-area h2

{

    color: #24c6c3;

    font-size: 15px;

}

.register-para-area p

{

    color: #000;

    font-size: 15px;

    font-family: 'Open sans';

    text-align: left;

     line-height: 20px;

     

}

/*---------join section------------*/

#join .join-section

{



}

.join-section

{

        padding-top: 50px;

    padding-bottom: 50px;

    background-image: url(../images/homesection_new_1.jpg);

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

}

.join-heading-area h2

{

    color: #fff;

    font-size: 38px;

    font-family: 'Open Sans';

    font-weight: 600;

    text-transform: uppercase

}

.join-heading-area hr

{

    border-color: #fff;

    width: 5%;

/*    height: 4px !important;*/

    margin: 0 auto;

    border-top: 6px solid #fff;

}

.join-image-area img

{

    width: 110px;

}

.join-text-area p

{

    color: #fff;

    font-family: 'Open Sans';

    font-size: 20px;

    line-height: 22px;

}

/*

.join-image-section

{

    margin-top: 10px;

}

*/

/*---------ecosystem section------------*/

 #ecosystem .ecosystem-section

{

    padding-top: 20px;

    padding-bottom: 20px;

    background-color: #1E2741;

/*    margin-top: 150px;*/

}

.ecosystem-img-area img {

    margin-top: -93px;

}

.ecosystem-img-area img {

    width: 140px;

}

.ecosystem-text-area h2

{

    color: #ebedef;

    text-transform: uppercase;

    font-size: 33px;

    font-weight: 400;

    font-family: 'Open Sans'

}

.ecosystem-text-area p

{

    font-weight: bold;

    color: #fff;

    text-transform: uppercase;

    font-size: 37px;

    font-family: 'Open Sans';

        line-height: 20px;

    

}

.ecosystem-text-area span

{

    color: #24c6c3;

    font-size: 37px;

    letter-spacing: 1px;

    font-weight: bold;

    font-family: 'Open Sans';



}

/*---------testimonials section------------*/

#testimonials .testimonials-section

{

    padding-top: 35px;

    padding-bottom: 40px;

}

.testimonials-section hr

{

    border-color: #24c6c3;

    width: 5%;

/*    height: 4px !important;*/

    margin: 0 auto;

    border-top: 6px solid #24c6c3;

}

/*

.testimonials2-img-area img

{

    width: 80px;

}

*/

#testimonials2{

    padding-bottom: 50px;

}

.textimons-spls

{

    border: 2px solid #24c6c3;

    padding: 18px;

    text-align: left;

    font-family: 'Open Sans';

    position: relative;

    border-radius: 10px;

    border-bottom-left-radius: 0px;

        box-shadow: -1px -2px 2px #c5c1c1;

    

}

.textimons-spls::before, .textimons-spls::after{

/*

    position: absolute;

    content: '';

    background: transparent;

    border: 10px solid #24c6c3;

    border-color: #24c6c3 #52202000 #2888ff00 #24c6c3;

    bottom: -22px;

    left: -2px;

*/

    content:"";

    border-style:solid;

    border-width:10px;

    width:0;

    height:0;

    position:absolute;

    top:100%;

    left:-1px;

}

.textimons-spls:before {

    border-color: #24c6c3 transparent transparent #24c6c3 ;

}



.textimons-spls:after {

    border-width: 9px;

    margin-top: -2px;

    margin-left: 1px;

    border-color: #fff transparent transparent #fff; 

}

.testimonials-section h2{

    font-size: 38px;

    font-family: 'Open Sans';

    color:  #117474;

    font-weight: bold;

    text-transform: uppercase

}

.text-cleint{

    padding-left: 0px;

    font-size: 17px;

    text-transform: uppercase;

    font-weight: 600;

    font-family: 'Open Sans';

    padding-top: 20px;

}

.text-cleint p{

    font-size: 17px;

    text-transform: uppercase;

    font-weight: 600;

    font-family: 'Open Sans';   

    color: #117474

}

/*---------new-mentor-expert section------------*/

#new-mentor-expert .new-mentor-expert-section

{

    padding-top: 40px;

    padding-bottom: 40px;

}

.new-mentor-expert-heading-area h2

{

    font-size: 30px;

    font-weight: 500;

    color: #20b9b6;

    text-transform: uppercase;

    font-family: 'Roboto';

    position: relative;

}

.new-mentor-expert-heading-area h2::before{

    position: absolute;

    background: #20b9b6;

    height: 1.5px;

    width: 42%;

    content: '';

    bottom: -2px;

    

}

.new-mentor-expert-heading-area h2::after{

    position: absolute;

    background: #20b9b6;

    height: 5px;

    width: 4%;

    content: '';

    bottom: -4px;

    left: 0

    

}

.new-mentor-expert-heading-area p

{

    color: #222;

    font-size: 17px;

    font-weight: 400;

    line-height: 20px;

    margin-top: 20px;

}

.new-mentor-section-atinable-button{

    margin-top: 20px;

    text-align: center;

    margin-bottom: 15px;

}

.new-mentor-section-atinable-button a{

    background: #1ac6c3;

    padding: 7px 15px;

    color: #fff;

    text-decoration: none;

    font-weight: 500

}

.new-mentor-section-atinable-button a:hover

{

    background-color: #159a98;

    color: #fff;

}

#new-mentor-benefit .new-mentor-benefit-section

{

    padding-top: 60px;

    padding-bottom: 60px;

}

.new-mentor-benefit-section

{

    background-image: url(../images/homesection_new_2.jpg);

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

    background-attachment: fixed;

}

.new-mentor-benefit-heading-area h2

{

    color: #1ea1a5;

    font-size: 30px;

    font-weight: bold;

    border-left: 2px solid #24c6c3;

    text-transform: uppercase;

    font-family: 'Open Sans';

    padding-left: 5px;

}

.new-mentor-benefit-heading-area h2:before

{

    position: absolute;

    content: "";

    width: 10px;

    height: 36px;

    background-color: #24c6c3;

    left: -15px;

    margin-left: 18px;

}

.new-mentor-sector-image-text img

{

    width: 190px;

}

.new-mentor-benefit-img-text-area

{

    margin-top: 40px;

}

.new-mentor-benefit-text h2

{

    color: #24c6c3;

    font-size: 20px;

}

.new-mentor-benefit-text p

{

    color: #fff;

    font-size: 16px;

    line-height: 19px;

}

.intro-images-nw{

    height: 95px;

}

.new-mentor-benefit-text img{

    width: 64px;

}

.new-mentor-sector-text h2

{

    font-size: 17px;

    color: #46c2c0;

    text-transform: uppercase;

}

.new-mentor-sector-text span

{

    color: #24c6c3;

}

/*

.new-mentor-sector-text .milind

{

   font-size: 14px; 

}

*/

.designation

{

    font-size: 17px;

    color: #616161;

    line-height: 16px;

    font-weight: 400;

}

.new-mentor-sector-section

{

    margin-top: -90px;

    padding-bottom: 50px;

}

.hero-banner-mentor{

    height: 70vh;

    background-image: url(../images/mentor-hero-banner.jpg);

    background-size: cover;

}

/*---------premium section------------*/

.prem-logo-area{

    padding-top: 15px;

}

.prem-logo-area img

{

    width: 200px;

}

.prem-main-content

{

    height: 100vh;

    background-image: url(../images/Background_Kixtor.jpg);

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

}

.prem-profile-heading-area h2

{

    color: #fff;

    font-size: 30px;

    letter-spacing: 1px;

}

.prem-profile-heading-area p

{

    color: #fff;

    font-size: 16px;

}

.prem-right-menubar ul li a {

/*

    text-decoration: none;

    color: #fff;

    padding: 8px 10px;

    line-height: 80px;

    font-size: 18px;

    border-radius: 10px;

    font-weight: 400;

*/

}

.prem-later-section ul{

    margin: 0;

    padding: 0;

    list-style: none

}

.prem-later-section ul li{

    float: left;

    padding-top: 12px;

}

.prem-later-section ul li a

{

    color: #fff;

    letter-spacing: 1px;

    border: 2px solid #fff;

    border-radius: 45px;

    line-height: 10px;

    padding: 15px 20px;

    font-size: 16px;

    transition: 0.3s;

}

.prem-later-section ul li a:hover{

    background: #fff;

    color: #118473

}

/*---------card section------------*/

.payment-btn a

{

    text-decoration: none;

    background-color: #fff;

    padding: 8px 12px;

    border-radius: 20px;

    color: #138886;

    font-size: 16px;

}



.billing-section

{

    margin-top: 18px;

    text-align: justify;

}

.card-active-area h3

{

    font-size: 25px;

}

.monthly-package

{

    font-size: 18px;

    color: #fff;

}

.billing-section p

{

    color: #fff;

    line-height: 18px;

}

.billing-section1 p

{

    line-height: 18px;

}

.billing-section2 p

{

    line-height: 18px;

}

.card-active-area h3

{

    color: #fff;

}

.card-active

{

    background-color: #2be2de;

    border-radius: 10px;

}

.card-active1

{

    border-radius: 10px;

}

.card-active2

{

    border-radius: 10px;

}

.color-change

{

    color: #5fc4b1;

}

.fa-check-circle-o

{

    font-size: 18px;

}

.check1

{

    color: #2be2de;

}

.sub

{

    font-size: 22px;

    color: #d85452;

    font-weight: 500;

}

.card-premium-section

{

    margin-top: 20px;

}

/*---------debit card section------------*/

 #debit-card .debit-card-section

{

    padding-top: 45px;

    padding-bottom: 45px;

    background-color: #f6f6f6;

}

.selected

{

    font-size: 18px;

}

.membership

{

    background-color: #118473 !important;

}

/*---------media query section------------*/

@media only screen and (min-width:300px) and (max-width:750px)

{

    .mentor2-image-text img

    {

        width: 180px;

        margin-top: 0 !important;

    }
    .mentor-list{
      margin-top: -122px;
    }

}

@media only screen and (min-width:300px) and (max-width:750px)

{

    .main-heading h1

    {

        font-size: 28px;

    }

    .main-heading p

    {

       font-size: 24px; 

    }

    .main-heading a

    {

        font-size: 28px;

    }

    .mentor-heading-area h2

    {

        font-size: 21px;

    }

    .mentor-list ul

    {

        display: grid;

    }

    .welcome-heading-area h2

    {

        font-size: 22px;

    }

    .welcome-heading-area span

    {

        font-size: 22px;

    }

    .welcome-heading-area h2:before

    {

        height: 61px;

    }

    .welcome-heading-area h3

    {

        font-size: 18px;

    }

    .welcome-heading-area p

    {

        font-size: 15px;

        text-align: justify;

    }

    .row-text-area p

    {

        text-align: justify;

    }

    .register-para-area p

    {

       text-align: justify; 

    }

    .ecosystem-text-area p

    {

        font-size: 32px;

        line-height: 40px;

    }

    .testimonials2-img-area img

    {

        width: 40%;

    }

    .text-cleint

    {

        margin-left: 10px;

    }

    .testimonials-section h2

    {

        font-size: 22px;

    }

    .new-mentor-expert-heading-area h2

    {

        font-size: 20px;

    }

    .new-mentor-expert-heading-area p

    {

        font-size: 16px;

        text-align: justify;

    }

    .new-mentor-benefit-heading-area h2

    {

        font-size: 24px;

    }

    .new-mentor-benefit-heading-area h2:before

    {

        height: 28px;

    }

    .new-mentor-benefit-text h2

    {

        font-size: 18px;

    }

    .new-mentor-benefit-text p

    {

        font-size: 14px;

    }
    .ecosystem-text-area h2 {
        color: #ebedef;
        font-size: 22px;
    }
    .text-cleint {
        padding-left: 10px;
    }
    .join-heading-area h2 {
        color: #fff;
        font-size: 26px;
    }
    .join-text-area p {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 13px;
    }
    .main-heading {
        padding-top: 128px;
        text-align: left;
        font-family: 'Oswald';
    }
    .main-heading p {
        line-height: 29px;
    }

}

.half-color-box {

  background: var(--gradient);

  height: 300px;

  margin-bottom: 100px;

}



.text-whtie {

  color: #fff !important;

}



.bold {

  font-weight: bolder;

}



.por {

  position: relative;

}



.review-box .quote {

  position: absolute;

  width: 40px;

  right: 10px;

  bottom: 10px;

}



.test-arrowbox {

  position: absolute;

  right: 20px;

  display: flex;

  top: 70px;

}



.review-box {

/*

  border-radius: 3px;

  background: #fff;

  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);

  padding: 30px;

*/

}



.review-box h5 {

  margin: 0;

}



.review-box p {

  margin-bottom: 0;

  margin-top: 10px;

  color: #7d8597;

}



.user-post {

  font-size: 14px;

  margin: 0 !important;

 

}



.swiper-testimonial {

  padding: 100px 20px;

  padding-top: 30px;

}



.half-color-box {

  background: var(--gradient);

  height: 300px;

  margin-bottom: 140px;

}



.test-arrowbox .swiper-button-next-test,

.test-arrowbox .swiper-button-prev-test {

  margin-right: 20px;

  /* background: var(--comp-color);2 */

  border-radius: 50%;

  --size: 55px;

  width: var(--size);

  height: var(--size);

  display: flex;

  align-items: center;

  justify-content: center;

}



.arrow-right {

  transform: rotate(180deg);

  margin-top: -8px;

}



.arrow {

  cursor: pointer;

  transition: all 0.2s ease-in;

}



.arrow:hover {

  transform: translateX(-15px);

}