<section class="bg-color-changer">
    <!-- logo section -->
    <section id="logo">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 mt-3 text-center">
                <a class="navbar-brand px-2 py-0 login-logo pointer">
                  <!--                                 <img src="assets/images/logo_editpage.png" class="img-fluid"/>-->
                  <img (click)="gotopage()" src="assets/images/logo.png" class="img-fluid" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end logo section -->
  
    <!-- logo section -->
    <section id="login">
      <div class="row">
        <div class="col-12 login-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-12 mx-auto text-center login-area">
                <div class="container">
                  <div class="card">
                    <p class="text-center call-button-section">Enter your Email for Recover Password
                    </p>
                    <div class="form-area" style="margin-top: 0px;">
                      <section class="container min-container py-md-5 mt-4">
                        <div class="card-panel position-relative">
                          <form id="loginForm" class="mt-5">
                            <p class="small mb-2 text-scarlet"></p>
                            <div class="form-group position-relative" *ngIf="shownewinputbox">
                              <input class="form-control input-lg rounded-0" id="email" [(ngModel)]="email" name="email"
                                type="text" placeholder="EMAIL ID" required="" style="line-height: 40px;">
                              <i class="fa fa-user fa-lg position-absolute"></i>
                            </div>

                            <div class="form-group position-relative" *ngIf="!shownewinputbox">
                                <input class="form-control input-lg rounded-0" id="email" [(ngModel)]="otp" name="email"
                                  type="text" placeholder="enter your 4 digit-otp" required="" style="line-height: 40px;">
                                <i class="fa fa-key fa-lg position-absolute" style="top: 11px;"></i>
                              </div>

                              <div class="form-group position-relative" *ngIf="!shownewinputbox">
                                <input class="form-control input-lg rounded-0" id="email" [(ngModel)]="newpassword" name="email"
                                  type="password" placeholder="newpassword" required="" style="line-height: 40px;">
                                <i class="fa fa-lock fa-lg position-absolute"></i>
                              </div>

                              <div class="form-group position-relative" *ngIf="!shownewinputbox">
                                <input class="form-control input-lg rounded-0" id="email" [(ngModel)]="conformpassword" name="email"
                                  type="password" placeholder="conformpassword" required="" style="line-height: 40px;">
                                <i class="fa fa-lock fa-lg position-absolute"></i>
                              </div>
  
                           
  
                            <div class="row">
                              <div class="col-lg-6 text-left remebr-check" style="padding-left: 3%;">
                                <label class="form-check-label">
                                  <span>
                                    <a class="pointer"  (click)="gopage()">LogIn</a>
                                  </span>
                                </label>
                              </div>
                              <div class="col-lg-6 text-right actinalble-forget-button">
                                <label class="">
                                  <span>
                                    <a class="pointer" (click)="goregisterpage()">Sign up</a>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <div class="row" style="margin-left:50%;">
                                <div class="spinner-border" *ngIf="isLoading" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                              </div>
                            <!-- <p class="error" *ngIf="isError">{{errorMsg}}</p>
                            <div *ngIf="isLoading" class="loader"></div> -->
                            <div class="text-center my-4">
                              <a class="btn btn-primary text-white form-signin-section2" *ngIf="shownewinputbox" type="submit"
                                (click)="requsetnewpage()">Recover Password</a>

                                <a class="btn btn-primary text-white form-signin-section2"  *ngIf="!shownewinputbox" type="submit"
                                (click)="getconformpassword()" >Update Password</a>
                            </div>
                          </form>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end logo section -->
  
    <!-- button section -->
    <!-- <section id="button">
      <div class="row">
        <div class="col-12 button-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <a>New to kixtor?<u class="pointer" (click)="goregisterpage()">Sign up</u> Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--end logo section -->
  
    <!-- link section -->
    <!-- <section id="link">
      <div class="row">
        <div class="col-lg-6 mx-auto link-section text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 google-hits text-center">
                <a class="">
                  <img src="assets/images/google.png" class="img-fluid" />&nbsp;
                  Log in with Google
                </a>
              </div>
              <div class="col-lg-6 facebook-hits text-center">
                <a class=""><img src="assets/images/facebook.png" class="img-fluid" />&nbsp;Log in with Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--end logo section -->
  
    <!-----------------------footer section------------------------->
  
    <!-----------------------end footer section------------------------->
  
    <!-- Optional JavaScript -->
  
    <!-- Custom files -->
  </section>