 <!-----------------------footer section------------------------->
 <footer id="footer">
    <div class="row">
        <div class="col-12 footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                         <div class="footer-head-area text-center edit-profile">
                             <p class="text-white"> <span class="pointer" (click)="mentorpage('terms_page')" >Terms &amp; condition </span> |  <span class="pointer" (click)="mentorpage('about_page')"> About-us </span> </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                         <div class="footer2-head-area text-center">
                             <p>&copy;Copyright kixtor 2020 | <span class="pointer" (click)="mentorpage('privacy_page')" style="color: blue;"> Privacy Policy </span>  . All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-----------------------end footer section------------------------->