<div class="loader" *ngIf="isLoading"></div>
<div *ngIf="!isLoading">
    <div *ngFor="let data of pendingData">
        <div class="col-lg-12 mail-list-dash">
            <div class="row">
                <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                </div>
                <div class="col-lg-9 profile-maing-DP">
                    <div class="row">
                        <div class="col-lg-2 col-6 color-placer">
                            <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                        </div>
                        <div class="col-lg-10 col-6 txt-placer-mail" *ngIf="data && data.sender_id">
                            {{data.sender_id.unique_id}}</div>

                        <div class="col-lg-2 col-6 color-placer">
                            <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                        </div>

                        <div class="col-lg-10 col-6 txt-placer-mail" *ngIf="data && data.sender_id">
                            {{data.sender_id.country}}</div>


                        <div class="col-lg-12 short-message-mail">
                            <hr>
                            <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to
                                connect,
                                if interested. <br>
                                <span>30th Sept.</span>
                            </p>
                            <p *ngIf="data && data.sender_id">{{ data.sender_id.name}}</p>
                        </div>

                        <div class="action-the-button">
                            <a (click)="acceptRequest(data._id)">
                                Accept Request
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noDataFound">
        <p> No Pending Request Found</p>
    </div>
</div>