<!-- <p>about-us works!</p> -->
<app-headerpage></app-headerpage>


<!-- <div> {{terms}} </div> -->
<div class="container">
  
        <div [innerHTML]="terms"></div>


</div>

<app-footerpage> </app-footerpage>