.header-fix{
    position: sticky;
    top: 0;
    z-index: 2;
    background: #f3f6f6;
}

.header-login{
    position: sticky;
    top: 0;
    z-index: 2;
    background: #f1fffd;
}

.mai-dash-header-bar{
    background: #f1fffd;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 6px solid #159a98
}
.logo-dash-area{
    width: 250px;
    padding-top: 17px;
}
.search-page-logo-dash-area {
    width: 250px;
    padding-top: 16px;
}
.menu-dash-area ul{
    margin: 0px;
    padding: 0px;
    list-style: none
}
.menu-dash-area ul li{
    float: left;
    margin-left: 0px;
    margin-right: 70px;
    line-height: 90px;
}
.menu-dash-area ul li a{
    display: block;
    font-size: 17px;
    color: #23c5c2;
    text-decoration: none;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .mai-dash-header-bar
    {
        display: none;
    }
}