<div class="row header-fix" *ngIf="!isLogin">
  <div class="col-lg-12 full-header">
    <div class="container">
      <!-- Logo left Menu right -->
      <div class="row">
        <!-- logo -->
        <div class="col-lg-3 col-10 logo-area">
          <a>
            <img src="../../../assets/images/logo.png" (click)="mentorpage('indexpage')"
              class="img-fluid logo pointer" />
          </a>
        </div>
        <!-- Mid menu -->
        <div class="col-lg-4 mid-top-menu menu-section">
          <ul class="list-menu">
            <li class="pointer" (click)="mentorpage('indexpage')"><a class="current">HOME</a></li>
            <li class="pointer" (click)="mentorpage('mentor_page')"><a>MENTORS</a></li>
          </ul>
        </div>
        <!-- Right menu -->
        <div class="col-lg-4 right-menu-top menu-section">
          <ul class="list-menu">
            <li class="pointer" (click)="gotopage('register_page')"><a><img src="../../../assets/images/signup.png">
                SIGN UP</a></li>
            <li class="pointer" (click)="gotopage('login_page')"><a><img src="../../../assets/images/login.png"> LOG
                IN</a></li>
          </ul>
        </div>
        <!--sOCILA MENU -->
        <div class="col-lg-1 top-socila-menu">
          <ul>
            <li><a><i class="fa fa-facebook"></i></a></li>
            <li><a><i class="fa fa-instagram"></i></a></li>
          </ul>
          <!--
          <span class="mobile-tab-menu-icon pull-right"> 
        <a>
          <img src="../../../assets/images/menu.png" class="img-fluid" height="30" width="30" /> 
        </a>
       </span>
-->
        </div>
        <!-- OnlyMobile menu -->
        <div class="col-lg-12 col-2 only-mobile-trigger">
          <a hrf="javascript:void(0);">
            <img src="../../../assets/images/menu.png" class="img-fluid" height="30" width="30" />
          </a>
        </div>
        <!-- Mobile Menu -->
        <div class="fix-mobile-menu">
          <div class="container-fluid">
            <ul>
              <li> <a>Home</a> </li>
              <li> <a>Mentor</a> </li>
              <li> <a>Login</a> </li>
              <li> <a>Sign Up</a> </li>
            </ul>
          </div>
        </div>
        <!-- Mobile Menu -->
      </div>
    </div>
  </div>
</div>


<div class="row header-login" *ngIf="isLogin">
  <div class="col-lg-12 mai-dash-header-bar">
    <div class="container">
      <div class="row">
        <!--logo -->
        <div class="col-lg-3 logo-dash-area">
          <a (click)="gotoHome()">
            <img src="../../../assets/images/logo.png" class="img-fluid" />
          </a>
        </div>
        <!-- Menu section -->
        <div class="col-lg-9 menu-dash-area">
          <ul>
            <li class="pointer"><a >My Kixtor</a></li>
            <li class="pointer" (click)="mentorpage('search_page')"><a >Search</a></li>
            <li class="pointer" (click)="mentorpage('mailbox_page')"><a >Mailbox</a></li>
            <li class="pointer"><a >Feeds</a></li>
            <li class="pointer" (click)="mentorpage('premium_page')"><a >Upgrade Now</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>