.error{
    font-size: 16px;
    color: red;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.success{
    font-size: 16px;
    color: green;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
}