<section id="main-content">
    <div class="loader" *ngIf="isLoading"></div>
    <div class="row">
        <div class="col-12 main-content-section">
            <div class="container">
                <div class="row" *ngIf="step=='1'">
                    <div class="col-lg-7 col-12 profile-heading-section mx-auto">
                        <p class="text-center">Sign Up</p>
                        <h2 class="text-center">Let's Create Your Account !!</h2>
                        <div class="form-light-section form-light-section2">
                            <div class="row">
                                <div class="col-lg-12 form-section">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-area">
                                                <div class="container min-container py-md-5 mt-4">
                                                    <div class="card-panel position-relative">
                                                        <div id="loginForm">

                                                            <div class="form-group position-relative">
                                                                <label for="email">Name *</label>
                                                                <input class="form-control input-lg rounded-0" id="name"
                                                                    name="name" type="text" placeholder="" [(ngModel)]="name" required=""
                                                                    style="line-height: 40px;">
                                                            </div>
                                                            &nbsp;

                                                            <div class="form-group position-relative">
                                                                <label>Contact Number *</label>
                                                                <input class="form-control input-lg rounded-0" [(ngModel)]="contactNumber"  (keypress)="keyPress($event)"
                                                                    id="password" name="contactNumber" type="text"
                                                                    placeholder="" required=""
                                                                    style="line-height: 40px;">
                                                            </div>
                                                            &nbsp;

                                                            <div class="form-group position-relative">
                                                                <label>Email *</label>
                                                                <input class="form-control input-lg rounded-0"  [(ngModel)]="email"
                                                                    id="password" name="email" type="email"
                                                                    placeholder="" required=""
                                                                    style="line-height: 40px;">
                                                            </div>
                                                            &nbsp;

                                                            <div class="form-group position-relative">
                                                                <label>Create Password </label>
                                                                <input class="form-control input-lg rounded-0" [(ngModel)]="password"
                                                                    id="password" name="password" type="password"
                                                                    placeholder="" required=""
                                                                    style="line-height: 40px;">
                                                            </div>
                                                            &nbsp;

                                                            <div class="form-group position-relative">
                                                                <label>Retype Password </label>
                                                                <input class="form-control input-lg rounded-0" [(ngModel)]="rePassword"
                                                                    id="password" name="rePassword" type="password"
                                                                    placeholder="" required=""
                                                                    style="line-height: 40px;">
                                                            </div>
                                                            &nbsp;


                                                            <div class="form-group position-relative">
                                                                <label>Where do you Live *</label>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-6">
                                                                        <label>Country</label>
                                                                        <select  id="country" [(ngModel)]="country" name="country" (ngModelChange)="selectCountry($event)" >
                                                                            <option value=null disabled>Select Country</option>                                     
                                                                            <option *ngFor="let co of countryList" [ngValue]="co" >{{co.name}}</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-lg-6 col-6">
                                                                        <label>* City</label>
                                                                        <select id="city" [(ngModel)]="state">
                                                                            <option value=null disabled>Select State</option>      
                                                                            <option *ngFor="let sta of stateList;let i=index" [value]="sta.region">
                                                                                {{sta.region}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group position-relative">
                                                                <label>* What is your Gender?</label>
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-6">
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadioInline1"  value="Male" [(ngModel)]="gender"
                                                                                name="customRadioInline1"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadioInline1">Male</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-6">
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadioInline2"  value="Female" [(ngModel)]="gender"
                                                                                name="customRadioInline1"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadioInline2">Female</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-6">
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadioInline3"  value="Other" [(ngModel)]="gender"
                                                                                name="customRadioInline1"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadioInline3">Other</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-lg-1 col-2">
                                                                    <div
                                                                        class="custom-control custom-radio custom-control-inline">
                                                                        <input type="checkbox" [(ngModel)]="terms"
                                                                            class="signup-1-checkbox">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-11 col-10">
                                                                    <div
                                                                        class="custom-control custom-radio custom-control-inline">
                                                                        <span class="text-left">I agree to <span  class="pointer" (click)="gopage()" style="color: blue;">Terms and
                                                                            Conditions  </span> governing the use of
                                                                            Kixtor</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p class="error" *ngIf="isError">{{errorMessage}}</p>
                                                <div class="text-center my-4">
                                                    <a class="btn btn-primary text-white login-1-form-signin-section"
                                                        type="submit"  (click)="continue('2')">Continue</a>
                                                </div>


                                                <div class="text-center already-signed">
                                                    <a style="text-transform: uppercase;">Already
                                                        Signed Up? <span class="pointer" (click)="gotopage()" style="color: blue;"> Log In </span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="step=='2'">
                    <div class="col-lg-10 signup3-heading-section mx-auto">
                        <h2 class="text-center">Sign Up</h2>
                        <div class="card-signup3-section">
                            <p class="text-center">*Upload Your Profile Photo</p>
                            <form action="" class="text-center signup3-form-section">
                                <label for="files-mod" class="signup3-form-control-mdified-label">
                                    Upload Image &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-search"></i>
                                    
                                </label>
                                <input type="file" id="files-mod" style="display: none;" (change)="choosePhoto($event)">
                                <!-- <label for="fileElem">Select some files</label> -->
                                <div>
                                    <img src="{{addprofile}}" *ngIf="!image" style="height:70px;">
                                    <img src="{{apiservice.apiUrl}}/static/{{Uploaded_filename}}" *ngIf="editImage" style="height:70px;">
                                </div>
                            </form>
                            <div class="text-center strength-section">
                                <span>*What Are You Strengths?</span>
                                <p>You may choose up to 8 strengths</p>
                                <hr>
                                <div class="form-group signup-3-fields">
                                    <select id="fields" class="fields" [(ngModel)]="strengths">
                                        <option [value]="null" disabled>Choose your strength</option>
                                        <option *ngFor="let strength of allStrengths;let i =index"
                                            [value]="strength.name" [selected]="i==0">{{strength.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="stage-section">
                                <p class="text-center">*You Are At What Stage?</p>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-3 stage-area1 text-center" *ngFor="let stage of stageList;let i =index">
                                                <div class="form-group">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox"   (change)="selectStrength($event,i)" [checked]='stage.value'>&nbsp;{{stage.name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-section text-center">
                                <span>*What Skill-Sets Should Your Co-Founder Bring To The Table?</span>
                                <p>You may choose up to 8 strengths</p>
                                <hr>
                                <div class="form-group signup-3-fields2">
                                    <select id="fields" class="skills" [(ngModel)]="skills">
                                        <option [value]="null" disabled>Choose your skill</option>
                                        <option *ngFor="let skill of allSkills" [value]="skill.name">{{skill.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <p class="error" *ngIf="isError">{{errorMessage}}</p>
                            <div class="text-center my-4">
                                <a class="btn btn-primary text-white login-1-form-signin-section"
                                    type="submit"  (click)="continue('3')">Continue</a>
                            </div>
                            <!-- <div class="signup-3-section-btn text-center">
                                <a  (click)="continue('3')">Continue</a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="step=='3'">
                    <div class="col-lg-10 signup2-heading-section mx-auto">
                        <h2 class="text-center">Sign Up</h2>
                        <div class="card-signup-section">
                            <h2 class="text-center">* Industry</h2>
                            <p class="text-center">Choose up to 8 Industries of your Business Interest / Work Experience
                            </p>
                            <hr>
                            <div class="row">
                                    <div class="col-lg-4" *ngFor="let ind of industryList;let i = index">
                                        <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="checkbox"  (change)="selectIndustry($event,i)" [value]="ind.value">&nbsp;{{ind.name}}
                                        </label>
                                    </div>
                                   
                                <!-- <div class="mx-auto sign2btn"
                                    style="margin-top: 20px;padding-top: 10px;padding-bottom: 10px;"><a
                                    (click)="submit()">Submit</a></div> -->
                            </div>
                          <p class="error" *ngIf="isError">{{errorMessage}}</p>
                          <span class="success" *ngIf="issuccess">{{errorMessage}}</span>
                            <div class="text-center my-4">
                                <a class="btn btn-primary text-white login-1-form-signin-section"
                                    type="submit"  (click)="submit()">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>