<app-headerpage></app-headerpage>

<section id="">
   <div class="row">
      <div class="col-12">
         <div class="container">
            <div class="row">
               <div class="col-lg-9 col-12">
                  <div class="container">
                     <div class="row" style="padding-bottom: 35px;">
                        <!-- HEADING -->
                        <div class="col-12 ser-upper-header">
                           <h2><i class="fa fa-search"></i>&nbsp;Basic Search:</h2>
                        </div>
                        <!--end HEADING -->

                        <!-- first input box-->
                        <div class="col-12 first-input-field" *ngIf="loginData && loginData.is_membership == 'NonPremium Membership'">
                           <!-- keyword-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Keywords:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <input type="text" [(ngModel)]="keywords" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <!-- Kixtor ID Search-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Kixtor ID Search:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <input type="text"  [(ngModel)]="kixtorId" class="form-control" />
                                 </div>
                              </div>
                           </div>

                           <!-- Country-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Country:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <select class="form-control" [(ngModel)]="country">
                                    <option  *ngFor="let country of countryListArray"  [ngValue]="country">{{country.name}}</option>
                                 </select>
                                 </div>
                              </div>
                           </div>

                           <!-- button-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">

                                 </div>
                                 <div class="col-lg-9">
                                    <button class="ser-submit-button" type="submit" (click)="searchUser()">SEARCH</button>
                                 </div>
                              </div>
                           </div>

                        </div>

                        <!-- smart search section-->
                        <div class="col-12 smart-search-section" *ngIf="loginData && loginData.is_membership !== 'NonPremium Membership'">
                           <h2><img src="../../../assets/images/crown.png" class="img-fluid" />&nbsp;Smart Search (For
                              Premium Members)</h2>
                        </div>



                        <!-- second input box-->
                        <div class="col-12 second-input-field" *ngIf="loginData && loginData.is_membership !== 'NonPremium Membership'">
                           <!-- keyword-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Keywords:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                 </div>
                              </div>
                           </div>
                           <!-- Skills-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Skills:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <select class="form-control">
                                       <option>Technology</option>
                                       <option>Art</option>
                                       <option>Information Technology</option>
                                       <option>Others</option>
                                    </select>
                                 </div>
                              </div>
                           </div>

                           <!-- Country-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Country:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                 </div>
                              </div>
                           </div>

                           <!-- City-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>City:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <select class="form-control">
                                       <option>Calcutta</option>
                                       <option>Hyderabad</option>
                                       <option>Patna</option>
                                       <option>Thane</option>
                                    </select>
                                 </div>
                              </div>
                           </div>

                           <!-- Business stage-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Business stage:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <select class="form-control">
                                       <option>Ideation</option>
                                       <option>Corporate</option>
                                       <option>Standard</option>
                                       <option>Professional</option>
                                    </select>
                                 </div>
                              </div>
                           </div>

                           <!-- Accounting and Finance-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Accounting and Finance:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <select class="form-control">
                                       <option>Accounting and Finance</option>
                                       <option>Textiles</option>
                                       <option>Clothing</option>
                                       <option>Others</option>
                                    </select>
                                 </div>
                              </div>
                           </div>

                           <!-- Kixtor ID Search-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Kixtor ID Search:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="KX83060071" />
                                 </div>
                              </div>
                           </div>

                           <!-- Gender-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Gender:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <div class="row">
                                       <div class="col-lg-3 col-6 form-group">
                                          <input type="radio" name="radio" />&nbsp;Male
                                       </div>
                                       <div class="col-lg-9 col-6 form-group">
                                          <input type="radio" name="radio" />&nbsp;Female
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <!-- Age-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <label>Age:</label>
                                 </div>
                                 <div class="col-lg-9">
                                    <div class="row">
                                       <div class="col-lg-4 col-6">
                                          <select class="form-control">
                                             <option>18 Yrs.</option>
                                             <option>19 Yrs.</option>
                                             <option>20 Yrs.</option>
                                             <option>21 Yrs.</option>
                                          </select>
                                       </div>
                                       <div class="col-lg-8 col-6">
                                          <select class="form-control">
                                             <option>25 Yrs.</option>
                                             <option>26 Yrs.</option>
                                             <option>27 Yrs.</option>
                                             <option>28 Yrs.</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <!-- button-->
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-3">

                                 </div>
                                 <div class="col-lg-9">
                                    <button class="ser-submit-button" type="submit">SEARCH</button>
                                 </div>
                              </div>
                           </div>

                        </div>


                        <div class="col-lg-12 mail-list-dash" *ngFor="let user of userList">
                           <!-- Main Sections -->
                           <div class="row">
                              <!--DP-->
                              <div class="col-lg-3 profile-picture-DP">
                                 <img src="../../../assets/images/photo.png" class="img-fluid" />
                              </div>
                              <!--DETAILS -->
                              <div class="col-lg-9 profile-maing-DP">
                                 <div class="row">
                                    <div class="col-lg-3 col-6 color-placer">
                                       <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                                    </div>
                                    <div class="col-lg-9 col-6 txt-placer-mail">{{user.unique_id}}</div>

                                    <div class="col-lg-3 col-6 color-placer">
                                       <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                                    </div>

                                    <div class="col-lg-9 col-6 txt-placer-mail">{{user.country}}</div>

                                    <div class="col-lg-12 short-message-mail">
                                       <div class="col-lg-9 col-6 txt-placer-mail">{{user.name}}</div>
                                       <hr>
                                       <!-- <p>I may have an opportunity in Robotics that may interests you. Accept my
                                          invitation to connect,
                                          if interested. <br>
                                          <span>30th Sept.</span>
                                       </p> -->
                                    </div>

                                    <div class="action-the-button">
                                       <a (click)="sendRequest(user._id)">
                                          Send Request
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<app-footerpage> </app-footerpage>