<div class="row">
    <div class="col-lg-12 dashoard-inner-section">
      <!-- Left -->
      <div class="row">
  
        <!-- MIDDLE -->
        <div class="col-lg-12">
          <div class="container">
            <div class="row">
              <!--header -->
              <div class="col-lg-12 dash-heaader">
                <div class="row">
                  <div class="col-lg-4">
                    <h2>Mailbox</h2>
                  </div>
                  <div class="col-lg-8 request-button">
                    <ul>
                      <li class="active"><a href="mailbox.html">Accepted</a></li>
                      <li><a href="mailbox-pending.html">Pending Requests</a></li>
                      <li><a href="#">Sent Requests</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
              
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
              <!-- ************Loop start for the mailbox************ -->
              <div class="col-lg-12 mail-list-dash">
                <!-- Main Sections -->
                <div class="row">
                  <!--DP-->
                  <div class="col-lg-3 profile-picture-DP">
                    <img src="../../../assets/images/photo.png" class="img-fluid" />
                  </div>
                  <!--DETAILS -->
                  <div class="col-lg-9 profile-maing-DP">
                    <!--                <div class="container-fluid">-->
                    <div class="row">
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/userid.png" class="img-fluid" /> User ID:
                      </div>
                      <div class="col-lg-10 col-6 txt-placer-mail">KT0015115</div>
  
                      <div class="col-lg-2 col-6 color-placer">
                        <img src="../../../assets/images/map-marker.png" class="img-fluid" /> Country:
                      </div>
  
                      <div class="col-lg-10 col-6 txt-placer-mail">Canada</div>
  
  
                      <div class="col-lg-12 short-message-mail">
                        <hr>
                        <p>I may have an opportunity in Robotics that may interests you. Accept my invitation to connect,
                          if interested. <br>
                          <span>30th Sept.</span>
                        </p>
                      </div>
  
                      <div class="action-the-button">
                        <a href="#">
                          Send Message
                        </a>
                      </div>
  
                    </div>
                    <!--                </div>-->
                  </div>
                </div>
              </div>
              <!-- ************Loop End for the mailbox************ -->
  
            </div>
          </div>
        </div>
        <!-- Right -->
      </div>
  
    </div>
  </div>