<app-headerpage></app-headerpage>


<div class="row">
    <div class="col-lg-12 col-md-12 col-12 hero-banner-mentor">
    </div>
</div>


<section id="new-mentor-expert">

    <div class="row">

        <div class="col-12 new-mentor-expert-section">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 new-mentor-expert-heading-area">

                        <h2>Collaborate With The Experts <br>To Stay Ahead of the Curve.</h2>

                        <p>We present to you a customized Mentorship program. This includes sessions with a trainer
                            (personal mentorship), idea validation, video interaction with an Industry Expert,
                            validation of your business model and facilitating a meeting with an angel investor. This is
                            an Exclusive Service and only profiles that meet the criteria of the Advisory will be able
                            to avail this program. </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-----------------------end mentor section------------------------->



<!-----------------------mentor section------------------------->

<section id="mentor">

    <div class="row">

        <div class="col-12 mentor-section">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 text-center">

                        <div class="mentor-heading-area">

                            <h2>Pick Your Mentors</h2>

                            <img src="assets/images/bar.png" class="img-fluid" />

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-----------------------end mentor section------------------------->



<!-----------------------mentor section------------------------->

<section id="new-mentor-sector">

    <div class="row">

        <div class="col-12 new-mentor-sector-section">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 new-mentor-sector-list">

                        <div class="row">
                            <div class="col-lg-4" *ngFor="let mentor of getmentor">

                                <div class="new-mentor-sector-image-text text-center">

                                    <img src="assets/images/mentor_1.png" class="img-fluid img-circle" />

                                </div>

                                <div class="new-mentor-sector-text text-center">

                                    <h2 class="milind">{{mentor.mentor_name}}</h2>

                                    <p class="designation">{{mentor.mentor_post}}</p>

                                    <span>{{mentor.country}}</span>

                                    <p>Consultation fee: ${{mentor.mentor_cost}} Per Hour</p>

                                </div>

                                <!-- Action Button -->

                                <div class="new-mentor-section-atinable-button">

                                    <a href="#">Book Appointment</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-----------------------end project area------------------------->



<!-----------------------benefit section------------------------->

<section id="new-mentor-benefit">

    <div class="row">

        <div class="col-12 new-mentor-benefit-section">

            <div class="container">

                <div class="row">



                    <div class="col-lg-12">

                        <div class="new-mentor-benefit-heading-area">

                            <h2> Who Will Benefit</h2>

                        </div>

                    </div>



                    <div class="col-12 text-center new-mentor-benefit-img-text-area">

                        <div class="row">

                            <div class="col-lg-4 new-mentor-benefit-text">

                                <div class="row">

                                    <div class="col-lg-12 intro-images-nw">

                                        <img src="assets/images/idea-mentor-nw.png" class="img-fluid" />

                                    </div>
                                </div>
                                <h2>ASPIRING ENTREPRENEURS</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-lg-4 new-mentor-benefit-text">
                                <div class="row">
                                    <div class="col-lg-12 intro-images-nw">
                                        <img src="assets/images/growth-ne-mentor.png" class="img-fluid" />
                                    </div>
                                </div>
                                <h2>EARLY-STAGE ENTREPRENEURS</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-lg-4 new-mentor-benefit-text">
                                <div class="row">
                                    <div class="col-lg-12 intro-images-nw">
                                        <img src="assets/images/user-mentor-nw.png" class="img-fluid" />
                                    </div>
                                </div>
                                <h2>STUDENTS</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footerpage> </app-footerpage>