/* You can add global styles to this file, and also import other style files */


.pointer{
    cursor: pointer;
}


.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 22;
    top: 50vh;
    right: 50%;
    left: 50%;
  }
  
   /* Safari */
   @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .mai-dash-header-bar{
    background: #f1fffd;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 6px solid #159a98
}
.logo-dash-area{
    width: 250px;
    padding-top: 17px;
}
.search-page-logo-dash-area {
    width: 250px;
    padding-top: 16px;
}
.menu-dash-area ul{
    margin: 0px;
    padding: 0px;
    list-style: none
}
.menu-dash-area ul li{
    float: left;
    margin-left: 0px;
    margin-right: 70px;
    line-height: 90px;
}
.menu-dash-area ul li a{
    display: block;
    font-size: 17px;
    color: #23c5c2;
    text-decoration: none;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500
}
@media only screen and (min-width:300px) and (max-width:750px)
{
    .mai-dash-header-bar
    {
        display: none;
    }
}