

<app-headerpage></app-headerpage>
<!-- banner section -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-12 sliding">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active text-center back-one">
          <div class="main-heading">
            <div class="container">
              <h1>The Business Partners Network</h1>
              <p>Kickstart your Start-up Journey with <br>Co-founder and Mentors</p>
              <div class="action-button">
                <a href="">Free Sign Up</a>
              </div>
            </div>
          </div>
        </div>
        <!--
                   <div class="carousel-item text-center back-two">
                     <div class="main-heading">
                      <div class="container">      
                       <h1>The Business Partners Network</h1>
                         <p>Kickstart your Start-up Journey with <br>Co-founder and Mentors</p>
                        <div class="action-button">
                           <a href="">Free Sign Up</a>
                        </div>   
                       </div>
                     </div>
                   </div>
-->
        <!--
                   <div class="carousel-item text-center back-three">
                     <div class="main-heading">
                      <div class="container">      
                       <h1>The Business Partners Network</h1>
                         <p>Kickstart your Start-up Journey with <br>Co-founder and Mentors</p>
                        <div class="action-button">
                           <a href="">Free Sign Up</a>
                        </div>   
                       </div>
                     </div>
                   </div>
-->
        <!--
                   <div class="carousel-item text-center back-four">
                     <div class="main-heading">
                      <div class="container">      
                         <h1>The Business Partners Network</h1>
                         <p>Kickstart your Start-up Journey with <br>Co-founder and Mentors</p>
                        <div class="action-button">
                           <a href="#">Free Sign Up</a>
                        </div>   
                       </div> 
                     </div>
                   </div>
-->
      </div>
      <!--
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
-->
    </div>
  </div>
</div>
<!--end banner section -->

<!-----------------------mentor section------------------------->
<section id="mentor">
  <div class="row">
    <div class="col-12 mentor-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="mentor-heading-area">
              <h2>Pick Your Mentors</h2>
              <img src="../../../assets/images/bar.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------------------end mentor section------------------------->

<!-----------------------mentor section------------------------->
<section id="mentor2-image">
  <div class="row">
    <div class="col-12 mentor2-image-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mentor-list">
            <div class="d-flex">
              <ul class="content-align-center mx-auto">
                <li *ngFor="let men of getmentor">
                  <div class="row">
                    <!--                                            case 5-->
                    <div class="col-12">
                      <div class="mentor2-image-text text-center">
                        <img src="../../../assets/images/mentor_1.png" class="img-fluid img-circle" />
                      </div>
                      <div class="mentor2-text text-center">
                        <h2>{{men.mentor_name}}</h2>
                        <p>{{men.mentor_post}}</p>
                      </div>
                    </div>
                    <!--                                             end case 5-->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------------------end project area------------------------->

<!-----------------------welcome section------------------------->
<section id="welcome">
  <div class="row">
    <div class="col-12 welcome-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="welcome-heading-area">
              <h2> <span>Welcome</span> <br>Note</h2>
              <h3>Dear Gusty Start-up founder,</h3>
              <p>Congratulations on your first step at running a start-up!! While we are thrilled to have you begin your
                start-up journey, it is imperative for you to consider the challenges you may most likely face:</p>
              <p>Talent/ Partner - A start-up is only as good as you and your team-mate. Getting the right partner for a
                Partnership or LLP/C formation is something most start-ups struggle with. A reliable and capable
                Co-founder who shares your passion for the project will make your journey smooth. Otherwise, your
                journey will be bumpy and who wants to break their heads with an incompetent partner?! We suggest you
                invest your time in getting the right co-founder so you don't regret later!</p>
              <p>Funding - A shrinking cash flow is all it takes to nip it in the bud, buddy. Do you wish to bootstrap
                with your personal savings or would you approach a bank for loan? Are you considering approaching
                investors and how much of hustling does it really take? You shouldn't pitch to absolute strangers.
                Neither should you give away your business plan to any investor. Once you have finalized your co-partner
                and if at the very outset you feel the need for a financer, do explore our hand-holding services. We
                suggest you initially send the projections in terms of CAC and ARR (without getting into the
                confidential business details) on the basis of which we can hustle on your behalf and set-up Vcons.</p>
              <p>Kixtors are a group of potential Co-founders and Contributors (AIs, VCs, Individual Investors) who are
                registered here with the intent of co-founding, networking or investing. I wholeheartedly welcome you to
                the Kixtor family! Good Luck with your venture</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------------------end welcome section------------------------->

<!-----------------------register section------------------------->
<section id="register">
  <div class="row">
    <div class="col-12 register-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="register-image-area">
              <img src="../../../assets/images/homesection_3.jpg" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="register-head-area">
              <h2>Who Should Register <span><br>On Kixtor?</span></h2>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row-head-area">
                  <h2>Tim has a dazzling idea in</h2>
                </div>
                <div class="row-text-area">
                  <p>A.I but he needs someone who he can execute it with. Harry comes with several years of technical
                    experience and entrepreneurial background and was passively looking for ideas on A.I in Kixtor. They
                    bonded over chats and Voila! Harry and Tom became co-partners just like that!</p>
                </div>
              </div>
              <div class="col-lg-6 right-para-line">
                <div class="container-fluid">
                  <div class="row-head-area">
                    <h2>Sid moved to jakarta on a work visa.</h2>
                  </div>
                  <div class="row-text-area">
                    <p>He had a kick-ass E-learning Business plan and he foresees tremendous potential in the Indonesian
                      market. However, the laws prohibit him from forming sole Proprietary in Indonesia and he had to
                      now find a local partner. Noor, a resident of Jakarta had the funds and was open to collaborating
                      with anyone with a solid business plan. And that's their story.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="register-para-area">
              <h2>Lee built an online grocery store as a side</h2>
              <p>Gig but now he is struggling with logistics and inventory management. His business is growing and he is
                feeling increasingly overworked and unable to keep up with the growing demands. Yash used to oversee
                logistics at e-commerce stores and joined hands with Lee by having a stake at the former's venture.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------------------end register section------------------------->

<!-----------------------join section------------------------->
<section id="join">
  <div class="row">
    <div class="col-12 join-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="join-heading-area text-center">
              <h2>You Should Join If</h2>
              <hr>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 about-content-hexas">
            <div class="container">
              <div class="d-flex">
                <div class="hex-square mx-auto content-align-center">
                  <!-- 1st row -->
                  <div class="first-row">
                    <div class="hexas ianiabout iconfive">
                      <div class="text-content ">

                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../assets/images/icon_1.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>If want to be a part of <br>the growing kixtor<br> community</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <svg id="vg-iconfive" viewBox="0 0 485.688 485.688">

                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />

                    </svg>

                  </div>
                  <!-- 2nd row -->
                  <div class="second-row">
                    <div class="hexas ianiabout iconseight">
                      <div class="text-content">

                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../assets/images/icon_7.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>if you wish to <br>network with fellow <br>like-minded <br>professionals</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <svg viewBox="0 0 485.688 485.688">

                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />

                    </svg>

                    <div class="hexas ianiabout iconseven">
                      <div class="text-content">
                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../assets/images/icon_2.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>if you wish to invest <br>in new ventures</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <svg viewBox="0 0 485.688 485.688">
                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />
                    </svg>

                  </div>
                  <!-- 3rd row -->
                  <div class="third-row">
                    <div class="hexas ianiabout icontthirteen">
                      <div class="text-content">

                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../assets/images/icon_6.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>if you wish to find a <br>co-founder</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <svg viewBox="0 0 485.688 485.688">
                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />
                    </svg>

                    <div class="hexas ianiabout icontwelve">
                      <div class="text-content">

                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../assets/images/icon_5.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>if you are seeking an <br>Advisor</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <svg viewBox="0 0 485.688 485.688">
                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />
                    </svg>

                    <div class="hexas ianiabout iconeleven">
                      <div class="text-content">
                        <div class="join-image-section">
                          <div class="join-image-area">
                            <img src="../../../../../../assets/images/icon_3.png" class="img-fluid" />
                          </div>
                          <div class="join-text-area">
                            <p>if you want to be <br>coached by a Mentor <br>of your choice</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <svg viewBox="0 0 485.688 485.688">
                      <path d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878
       l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z" />
                    </svg>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!-----------------------end join section------------------------->

<!-----------------------ecosystem section------------------------->
<section id="ecosystem">
  <div class="row">
    <div class="col-12 ecosystem-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ecosystem-img-area text-center">
              <img src="../../../assets/images/icon_4.png" class="img-fluid" />
            </div>
            <div class="ecosystem-text-area text-center">
              <h2>We Are Committed To Building</h2>
              <p>A Sustainable Entrepreneurial Ecosystem</p>
              <span>1800 333 2000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footerpage> </app-footerpage>
<!-----------------------end ecosystem section------------------------->

<!-----------------------testimonials section------------------------->
<!-- <section id="testimonials">
        <div class="row">
            <div class="col-12 testimonials-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                             <h2>Testimonials</h2>
                             <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section> -->

<!-----------------------testimonials section------------------------->
<!-- <section id="testimonials2">
            <div class="row">
             <div class="col-12 testimonials2-section">
              <div class="container">
               <div class="row">
                <div class="col-12">     
                   <div class="swiper-container swiper-testimonial">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                                <div class="media">
                                    <img class="mr-3" src="">
                                    <div class="media-body"></div>
                                </div>
                                    <p class="textimons-spls">Talent/ Partner - A start-up is only as good as you and your team-mate. Getting the right partner for a Partnership or LLP/C formation is something most start-ups struggle with.</p>
                                     <div class="testimonials2-img-area text-left">
                                        <div class="row">
                                          <div class="col-lg-4">
                                            <img src="../../../assets/images/client.png" class="img-fluid"/>
                                          </div>
                                          <div class="col-lg-8 text-cleint">
                                            <span>Lisa Doe</span>
                                            <p>Happy CLient</p>  
                                          </div>
                                         </div> 
                                </div> 
                        </div>
                        <div class="swiper-slide">
                                <div class="media">
                                    <img class="mr-3" src="">
                                    <div class="media-body"></div>
                                </div>
                                    <p class="textimons-spls">Talent/ Partner - A start-up is only as good as you and your team-mate. Getting the right partner for a Partnership or LLP/C formation is something most start-ups struggle with.</p>
                                     <div class="testimonials2-img-area text-left">
                                        <div class="row">
                                          <div class="col-lg-4">
                                            <img src="../../../assets/images/client.png" class="img-fluid"/>
                                          </div>
                                          <div class="col-lg-8 text-cleint">
                                            <span>Lisa Doe</span>
                                            <p>Happy CLient</p>  
                                          </div>
                                         </div> 
                                </div> 
                        </div>
                        <div class="swiper-slide">
                                <div class="media">
                                    <img class="mr-3" src="">
                                    <div class="media-body"></div>
                                </div>
                                    <p class="textimons-spls">Talent/ Partner - A start-up is only as good as you and your team-mate. Getting the right partner for a Partnership or LLP/C formation is something most start-ups struggle with.</p>
                                     <div class="testimonials2-img-area text-left">
                                        <div class="row">
                                          <div class="col-lg-4">
                                            <img src="../../../assets/images/client.png" class="img-fluid"/>
                                          </div>
                                          <div class="col-lg-8 text-cleint">
                                            <span>Lisa Doe</span>
                                            <p>Happy CLient</p>  
                                          </div>
                                         </div> 
                                </div> 
                        </div>
                        <div class="swiper-slide">
                                <div class="media">
                                    <img class="mr-3" src="">
                                    <div class="media-body"></div>
                                </div>
                                    <p class="textimons-spls">Talent/ Partner - A start-up is only as good as you and your team-mate. Getting the right partner for a Partnership or LLP/C formation is something most start-ups struggle with.</p>
                                     <div class="testimonials2-img-area text-left">
                                        <div class="row">
                                          <div class="col-lg-4">
                                            <img src="../../../assets/images/client.png" class="img-fluid"/>
                                          </div>
                                          <div class="col-lg-8 text-cleint">
                                            <span>Lisa Doe</span>
                                            <p>Happy CLient</p>  
                                          </div>
                                         </div> 
                                </div> 
                        </div>
                    </div>
               
                    <div class="swiper-pagination"></div>
    
                </div>
                </div>    
               </div>
              </div>
             </div>
            </div>
            </section> -->
<!-----------------------end testimonials section------------------------->